<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.admin.model.dao.AdminDao">
	<select id="memberList" resultType="adminMember">
	SELECT * FROM (
		SELECT ROWNUM RNUM,A.* FROM (
		SELECT
		M.*,
		NVL(TCC.TOTAL_CLAIM_CNT,0) TOTAL_CLAIM_CNT,
		NVL(TLC.TOTAL_LIKE_CNT,0)
		TOTAL_LIKE_CNT,
		NVL(TPC.TOTAL_POST_CNT,0) TOTAL_POST_CNT,
		NVL(TCMC.TOTAL_COMMENT_CNT,0) TOTAL_COMMENT_CNT,

		DECODE(
		(SELECT
		COUNT(*) FROM MEMBER_BEN_TBL B WHERE (B.MEMBER_NO = M.MEMBER_NO) AND
		(SYSDATE BETWEEN B.MEMBER_BEN_START_DATE AND
		B.MEMBER_BEN_FINISH_DATE)),
		0,
		'FALSE',
		(SELECT
		TO_CHAR(B.MEMBER_BEN_FINISH_DATE,'YYYY-MM-DD HH24:MI:SS') FROM
		MEMBER_BEN_TBL B WHERE (B.MEMBER_NO = M.MEMBER_NO) AND (SYSDATE
		BETWEEN B.MEMBER_BEN_START_DATE AND B.MEMBER_BEN_FINISH_DATE))
		) IS_BEN
		FROM MEMBER_TBL M
		LEFT JOIN (
		SELECT MEMBER_NO,NVL(SUM(CNT),0)
		TOTAL_CLAIM_CNT FROM (
		SELECT MEMBER_NO,SUM(CNT) CNT FROM (
		SELECT *
		FROM FREE_BOARD_TBL LEFT JOIN (
		SELECT
		FREE_BOARD_NO,FREE_BOARD_SUBCATEGORY_NO,FREE_BOARD_CATEGORY_NO,COUNT(*)
		CNT FROM FB_CLAIM_TBL GROUP BY
		FREE_BOARD_NO,FREE_BOARD_SUBCATEGORY_NO,FREE_BOARD_CATEGORY_NO
		) USING
		(FREE_BOARD_NO,FREE_BOARD_SUBCATEGORY_NO,FREE_BOARD_CATEGORY_NO)
		)
		GROUP BY MEMBER_NO

		UNION ALL

		SELECT MEMBER_NO,
		SUM(CNT) CNT FROM (
		SELECT
		* FROM FB_COMMENT_TBL LEFT
		JOIN (
		SELECT FB_COMMENT_NO, COUNT(*) CNT
		FROM
		FBC_CLAIM_TBL GROUP BY FB_COMMENT_NO
		) USING (FB_COMMENT_NO)
		) GROUP
		BY
		MEMBER_NO

		UNION ALL

		SELECT MEMBER_NO, SUM(CNT)
		CNT FROM (
		SELECT * FROM
		VOTE_TBL LEFT JOIN (
		SELECT VOTE_NO,
		COUNT(*) CNT FROM
		VOTE_REPORT_TBL GROUP BY
		VOTE_NO
		) USING
		(VOTE_NO)
		) GROUP
		BY MEMBER_NO

		UNION ALL

		SELECT MEMBER_NO, SUM(CNT) CNT FROM (
		SELECT * FROM VOTE_COMMENT_TBL LEFT
		JOIN (
		SELECT
		VOTE_COMMENT_NO, COUNT(*) CNT FROM VOTE_COMMENT_REPORT_TBL GROUP BY
		VOTE_COMMENT_NO
		) USING (VOTE_COMMENT_NO)
		) GROUP BY MEMBER_NO
		) GROUP BY
		MEMBER_NO ORDER
		BY MEMBER_NO
		) TCC ON TCC.MEMBER_NO = M.MEMBER_NO
		LEFT
		JOIN (
		SELECT MEMBER_NO,NVL(SUM(CNT),0) TOTAL_LIKE_CNT FROM (
		SELECT
		MEMBER_NO,SUM(CNT) CNT FROM (

		SELECT * FROM FREE_BOARD_TBL LEFT JOIN (
		SELECT
		FREE_BOARD_NO,FREE_BOARD_SUBCATEGORY_NO,FREE_BOARD_CATEGORY_NO,COUNT(*)
		CNT FROM FB_LIKE_TBL GROUP BY
		FREE_BOARD_NO,FREE_BOARD_SUBCATEGORY_NO,FREE_BOARD_CATEGORY_NO
		) USING
		(FREE_BOARD_NO,FREE_BOARD_SUBCATEGORY_NO,FREE_BOARD_CATEGORY_NO)
		)
		GROUP BY MEMBER_NO

		UNION ALL

		SELECT MEMBER_NO,
		SUM(CNT) CNT FROM (
		SELECT
		* FROM FB_COMMENT_TBL LEFT
		JOIN (
		SELECT FB_COMMENT_NO, COUNT(*) CNT
		FROM
		FBC_LIKE_TBL GROUP BY FB_COMMENT_NO
		) USING (FB_COMMENT_NO)
		) GROUP
		BY
		MEMBER_NO

		UNION ALL

		SELECT MEMBER_NO, SUM(CNT)
		CNT FROM (
		SELECT * FROM
		VOTE_TBL LEFT JOIN (
		SELECT VOTE_NO,
		COUNT(*) CNT FROM
		VOTE_LIKE_TBL GROUP BY
		VOTE_NO
		) USING
		(VOTE_NO)
		) GROUP
		BY MEMBER_NO

		UNION ALL

		SELECT MEMBER_NO, SUM(CNT) CNT FROM (
		SELECT * FROM VOTE_COMMENT_TBL LEFT
		JOIN (
		SELECT
		VOTE_COMMENT_NO, COUNT(*) CNT FROM VOTE_COMMENT_LIKE_TBL GROUP BY
		VOTE_COMMENT_NO
		)
		USING (VOTE_COMMENT_NO)
		) GROUP BY MEMBER_NO
		) GROUP BY
		MEMBER_NO ORDER BY
		MEMBER_NO
		) TLC ON TLC.MEMBER_NO = M.MEMBER_NO
		LEFT
		JOIN (
		SELECT
		MEMBER_NO,SUM(CNT) TOTAL_POST_CNT FROM (
		SELECT
		MEMBER_NO,COUNT(*) CNT FROM FREE_BOARD_TBL GROUP BY MEMBER_NO

		UNION ALL

		SELECT MEMBER_NO,COUNT(*) CNT FROM VOTE_TBL
		GROUP BY MEMBER_NO
		)
		GROUP BY MEMBER_NO
		) TPC ON TPC.MEMBER_NO =
		M.MEMBER_NO

		LEFT JOIN (
		SELECT MEMBER_NO,SUM(CNT) TOTAL_COMMENT_CNT FROM (
		SELECT
		MEMBER_NO,COUNT(*) CNT FROM FB_COMMENT_TBL
		GROUP BY MEMBER_NO

		UNION ALL

		SELECT MEMBER_NO,COUNT(*)
		CNT FROM VOTE_COMMENT_TBL GROUP BY MEMBER_NO
		)
		GROUP BY MEMBER_NO
		) TCMC
		ON TCMC.MEMBER_NO = M.MEMBER_NO

		<if test="order == 1">
			ORDER BY M.MEMBER_NO ASC
		</if>

		<if test="order == 2">
			ORDER BY M.MEMBER_NO DESC
		</if>

		<if test="order == 3">
			ORDER BY TOTAL_CLAIM_CNT ASC
		</if>

		<if test="order == 4">
			ORDER BY TOTAL_CLAIM_CNT DESC
		</if>

		<if test="order == 5">
			ORDER BY TOTAL_LIKE_CNT ASC
		</if>

		<if test="order == 6">
			ORDER BY TOTAL_LIKE_CNT DESC
		</if>

		<if test="order == 7">
			ORDER BY TOTAL_POST_CNT ASC
		</if>

		<if test="order == 8">
			ORDER BY TOTAL_POST_CNT DESC
		</if>

		<if test="order == 9">
			ORDER BY TOTAL_COMMENT_CNT ASC
		</if>

		<if test="order == 10">
			ORDER BY TOTAL_COMMENT_CNT DESC
		</if>

		<if test="order == 11">
			ORDER BY IS_BEN ASC
		</if>

		<if test="order == 12">
			ORDER BY IS_BEN DESC
		</if>

		<if test="order == 13">
			ORDER BY MEMBER_TYPE ASC
		</if>

		<if test="order == 14">
			ORDER BY MEMBER_TYPE DESC
		</if>

		) A
		<if test="searchText!=''">
			WHERE
			<if test="searchType == 'no'">
				MEMBER_NO=#{searchText}
			</if>
			<if test="searchType == 'id'">
				MEMBER_ID LIKE '%' || #{searchText} || '%'
			</if>
			<if test="searchType == 'email'">
				MEMBER_EMAIL LIKE '%' || #{searchText} || '%'
			</if>
		</if>
		) WHERE RNUM BETWEEN #{startRow} AND #{endRow}


	</select>

	<select id="totalListCount" resultType="int">
		SELECT COUNT(*) FROM MEMBER_TBL
		<if test="searchText!=''">
			WHERE
			<if test="searchType == 'no'">
				MEMBER_NO=#{searchText}
			</if>
			<if test="searchType == 'id'">
				MEMBER_ID LIKE '%' || #{searchText} || '%'
			</if>
			<if test="searchType == 'email'">
				MEMBER_EMAIL LIKE '%' || #{searchText} || '%'
			</if>
		</if>

	</select>

	<update id="memberTypeUpdate">
		UPDATE MEMBER_TBL SET MEMBER_TYPE=#{memberType} WHERE
		MEMBER_NO=#{memberNo}
	</update>

	<select id="memberDetail" resultType="memberDetail">
SELECT * FROM
		(SELECT ROWNUM
		RNUM, A.* FROM (
		SELECT * FROM(
		SELECT '게시글' CATEGORY_MAIN,
		'투표'
		CATEGORY_SUB,
		MEMBER_NICKNAME,
		VOTE_TITLE BOARD_TITLE,
		VOTE_DATE BOARD_DATE
		FROM
		MEMBER_TBL
		JOIN VOTE_TBL
		USING(MEMBER_NO)
		WHERE MEMBER_NO =
		#{memberNo}
		UNION
		SELECT '게시글' CATEGORY_MAIN,
		'자유' CATEGORY_SUB,
		MEMBER_NICKNAME,
		FREE_BOARD_TITLE,
		FREE_BOARD_DATE
		FROM MEMBER_TBL
		JOIN
		FREE_BOARD_TBL
		USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
		UNION
		SELECT '댓글' CATEGORY_MAIN,
		'자유' CATEGORY_SUB,
		MEMBER_NICKNAME,
		FB_COMMENT_CONTENT,
		FB_COMMENT_DATE
		FROM MEMBER_TBL
		JOIN FB_COMMENT_TBL
		USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
		UNION
		SELECT '대댓글'
		CATEGORY_MAIN,
		'자유' CATEGORY_SUB,
		MEMBER_NICKNAME,
		FB_SUBCOMMENT,
		FB_COMMENT_DATE
		FROM MEMBER_TBL
		JOIN FB_COMMENT_TBL
		USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
		UNION
		SELECT '댓글' CATEGORY_MAIN,
		'투표'
		CATEGORY_SUB,
		MEMBER_NICKNAME,
		VOTE_COMMENT_CONTENT,
		VOTE_COMMENT_DATE
		FROM
		MEMBER_TBL
		JOIN VOTE_COMMENT_TBL
		USING(MEMBER_NO)
		WHERE MEMBER_NO =
		#{memberNo}
		)
		ORDER BY BOARD_DATE DESC
		) A) WHERE RNUM BETWEEN
		#{startRow} AND #{endRow}

	</select>

	<select id="memberDetailTotalCount" resultType="int">

		SELECT COUNT(*)
		FROM
		(SELECT ROWNUM RNUM, A.* FROM (
		SELECT * FROM(
		SELECT '게시글'
		CATEGORY_MAIN,
		'투표' CATEGORY_SUB,
		MEMBER_NICKNAME,
		VOTE_TITLE
		BOARD_TITLE,
		VOTE_DATE BOARD_DATE
		FROM MEMBER_TBL
		JOIN
		VOTE_TBL
		USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
		UNION
		SELECT '게시글' CATEGORY_MAIN,
		'자유' CATEGORY_SUB,
		MEMBER_NICKNAME,
		FREE_BOARD_TITLE,
		FREE_BOARD_DATE
		FROM MEMBER_TBL
		JOIN FREE_BOARD_TBL
		USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
		UNION
		SELECT '댓글'
		CATEGORY_MAIN,
		'자유' CATEGORY_SUB,
		MEMBER_NICKNAME,
		FB_COMMENT_CONTENT,
		FB_COMMENT_DATE
		FROM MEMBER_TBL
		JOIN FB_COMMENT_TBL
		USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
		UNION
		SELECT '대댓글' CATEGORY_MAIN,
		'자유'
		CATEGORY_SUB,
		MEMBER_NICKNAME,
		FB_SUBCOMMENT,
		FB_COMMENT_DATE
		FROM
		MEMBER_TBL
		JOIN FB_COMMENT_TBL
		USING(MEMBER_NO)
		WHERE MEMBER_NO =
		#{memberNo}
		UNION
		SELECT '댓글' CATEGORY_MAIN,
		'투표' CATEGORY_SUB,
		MEMBER_NICKNAME,
		VOTE_COMMENT_CONTENT,
		VOTE_COMMENT_DATE
		FROM MEMBER_TBL
		JOIN
		VOTE_COMMENT_TBL
		USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
		)
		ORDER BY
		BOARD_DATE DESC

		) A)

	</select>

	<insert id="memberBan">
		INSERT INTO MEMBER_BEN_TBL VALUES(
		#{memberNo},SYSDATE,TO_DATE(#{memberBenFinishDate},'YYYY-MM-DD
		HH24:MI:SS'),#{memberBanContent}
		)
	</insert>

	<select id="statisticsYears" resultType="adminStatistics">
		SELECT A.LABEL,COUNT(*)
		VALUE FROM (
		SELECT TO_CHAR(MEMBER_DATE,'YYYY') LABEL FROM MEMBER_TBL
		WHERE TO_NUMBER(TO_CHAR(MEMBER_DATE,'YYYY')) BETWEEN
		TO_NUMBER(TO_CHAR(SYSDATE,'YYYY'))-4 AND
		TO_NUMBER(TO_CHAR(SYSDATE,'YYYY'))) A GROUP BY A.LABEL ORDER BY
		A.LABEL
	</select>
	<select id="statisticsYear" resultType="adminStatistics">
		SELECT A.LABEL||'월' AS
		LABEL,COUNT(*) VALUE FROM (
		SELECT TO_CHAR(MEMBER_DATE,'MM') LABEL FROM
		MEMBER_TBL WHERE
		TO_CHAR(SYSDATE,'YYYY')=TO_CHAR(MEMBER_DATE,'YYYY')) A
		GROUP BY
		A.LABEL ORDER BY A.LABEL
	</select>
	<select id="statisticsMonth" resultType="adminStatistics">
		SELECT A.LABEL||'일' AS
		LABEL,COUNT(*) VALUE FROM (
		SELECT TO_CHAR(MEMBER_DATE,'DD') LABEL FROM
		MEMBER_TBL WHERE
		TO_CHAR(SYSDATE,'YYYY-MM')=TO_CHAR(MEMBER_DATE,'YYYY-MM')) A GROUP BY
		A.LABEL ORDER BY A.LABEL
	</select>

	<select id="statisticsRu" resultType="int">
		SELECT COUNT(*) FROM
		MEMBER_TBL
	</select>

	<select id="statisticsBc" resultType="int">
		SELECT (SELECT COUNT(*)
		FROM FREE_BOARD_TBL) + (SELECT COUNT(*) FROM
		VOTE_TBL)
		BOARD_COUNT FROM DUAL
	</select>
	<select id="statisticsBcc" resultType="int">
		SELECT (SELECT COUNT(*)
		FROM FB_COMMENT_TBL) + (SELECT COUNT(*) FROM
		VOTE_COMMENT_TBL)
		BOARD_COMMENT_COUNT FROM DUAL
	</select>
	<select id="statisticsWc" resultType="int">
		SELECT COUNT(*) FROM
		WITHDRAW_MEMBERSHIP_TBL
	</select>

	<select id="statisticsAr" resultType="int">
		SELECT
		(ROUND((SELECT
		COUNT(*) ACCESSION_CNT_YEARS FROM MEMBER_TBL
		WHERE
		TO_NUMBER(TO_CHAR(MEMBER_DATE,'YYYY'))
		BETWEEN
		TO_NUMBER(TO_CHAR(SYSDATE,'YYYY'))-4
		AND
		TO_NUMBER(TO_CHAR(SYSDATE,'YYYY')))/((SELECT COUNT(*)
		ACCESSION_CNT_YEARS FROM MEMBER_TBL
		WHERE
		TO_NUMBER(TO_CHAR(MEMBER_DATE,'YYYY'))
		BETWEEN
		TO_NUMBER(TO_CHAR(SYSDATE,'YYYY'))-4 AND
		TO_NUMBER(TO_CHAR(SYSDATE,'YYYY')))+(SELECT COUNT(*)
		WITHDRAW_CNT_YEARS FROM WITHDRAW_MEMBERSHIP_TBL WHERE
		TO_NUMBER(TO_CHAR(WITHDRAW_DATE,'YYYY')) BETWEEN
		TO_NUMBER(TO_CHAR(SYSDATE,'YYYY'))-4 AND
		TO_NUMBER(TO_CHAR(SYSDATE,'YYYY')))),2))*100 ACCEESSION_RATE
		FROM DUAL
	</select>

	<select id="statisticsArYear" resultType="int">
		SELECT ROUND((SELECT
		COUNT(*) FROM MEMBER_TBL WHERE
		TO_CHAR(MEMBER_DATE,'YYYY') =
		TO_CHAR(SYSDATE,'YYYY'))/((SELECT
		COUNT(*) FROM MEMBER_TBL WHERE
		TO_CHAR(MEMBER_DATE,'YYYY') =
		TO_CHAR(SYSDATE,'YYYY'))+(SELECT COUNT(*)
		FROM WITHDRAW_MEMBERSHIP_TBL
		WHERE TO_CHAR(WITHDRAW_DATE,'YYYY') =
		TO_CHAR(SYSDATE,'YYYY'))),2)*100
		AR_YEAR FROM DUAL
	</select>

	<select id="statisticsArMonth" resultType="int">
		SELECT ROUND((SELECT
		COUNT(*) FROM MEMBER_TBL WHERE
		TO_CHAR(MEMBER_DATE,'YYYY-MM') =
		TO_CHAR(SYSDATE,'YYYY-MM'))/((SELECT
		COUNT(*) FROM MEMBER_TBL WHERE
		TO_CHAR(MEMBER_DATE,'YYYY-MM') =
		TO_CHAR(SYSDATE,'YYYY-MM'))+(SELECT
		COUNT(*) FROM
		WITHDRAW_MEMBERSHIP_TBL WHERE
		TO_CHAR(WITHDRAW_DATE,'YYYY-MM') =
		TO_CHAR(SYSDATE,'YYYY-MM'))),2)*100
		AR_MONTH FROM DUAL
	</select>

	<select id="statisticsArDay" resultType="int">
		SELECT ROUND((SELECT
		COUNT(*) FROM MEMBER_TBL WHERE
		TO_CHAR(MEMBER_DATE,'YYYY-MM-DD') =
		TO_CHAR(SYSDATE,'YYYY-MM-DD'))/((SELECT COUNT(*) FROM MEMBER_TBL WHERE
		TO_CHAR(MEMBER_DATE,'YYYY-MM-DD') = TO_CHAR(SYSDATE,'YYYY-MM-DD')) +
		(SELECT COUNT(*) FROM WITHDRAW_MEMBERSHIP_TBL WHERE
		TO_CHAR(WITHDRAW_DATE,'YYYY-MM-DD') = TO_CHAR(SYSDATE,'YYYY-MM-DD'))))
		* 100 AR_DAY FROM DUAL
	</select>

	<select id="statisticsRuDiffDay" resultType="int">
		SELECT
		(SELECT COUNT(*) FROM MEMBER_TBL
		WHERE
		TO_CHAR(MEMBER_DATE,'YYYY-MM-DD') <![CDATA[<=]]>
		TO_CHAR(SYSDATE,'YYYY-MM-DD'))
		-
		(SELECT COUNT(*) FROM MEMBER_TBL
		WHERE
		TO_CHAR(MEMBER_DATE,'YYYY-MM-DD') <![CDATA[<=]]>
		TO_CHAR(SYSDATE-1,'YYYY-MM-DD'))
		AS RU_DIFF_DAY
		FROM DUAL
	</select>

	<select id="statisticsBcDiffDay" resultType="int">
		SELECT
		(
		(SELECT COUNT(*) FROM FREE_BOARD_TBL
		WHERE
		TO_CHAR(FREE_BOARD_DATE,'YYYY-MM-DD') <![CDATA[<=]]>
		TO_CHAR(SYSDATE,'YYYY-MM-DD'))
		+
		(SELECT COUNT(*) FROM VOTE_TBL
		WHERE TO_CHAR(VOTE_DATE,'YYYY-MM-DD') <![CDATA[<=]]>
		TO_CHAR(SYSDATE,'YYYY-MM-DD'))
		)
		-
		(
		(SELECT COUNT(*) FROM FREE_BOARD_TBL
		WHERE TO_CHAR(FREE_BOARD_DATE,'YYYY-MM-DD') <![CDATA[<=]]>
		TO_CHAR(SYSDATE-1,'YYYY-MM-DD'))
		+
		(SELECT COUNT(*) FROM VOTE_TBL
		WHERE TO_CHAR(VOTE_DATE,'YYYY-MM-DD')<![CDATA[<=]]>
		TO_CHAR(SYSDATE-1,'YYYY-MM-DD'))
		)
		AS BC_DIFF_DAY
		FROM DUAL
	</select>

	<select id="statisticsBccDiffDay" resultType="int">
		SELECT
		(
		(SELECT COUNT(*) FROM FB_COMMENT_TBL
		WHERE
		TO_CHAR(FB_COMMENT_DATE,'YYYY-MM-DD') <![CDATA[<=]]>
		TO_CHAR(SYSDATE,'YYYY-MM-DD'))
		+
		(SELECT COUNT(*) FROM VOTE_COMMENT_TBL
		WHERE TO_CHAR(VOTE_COMMENT_DATE,'YYYY-MM-DD') <![CDATA[<=]]>
		TO_CHAR(SYSDATE,'YYYY-MM-DD'))
		)
		-
		(
		(SELECT COUNT(*) FROM FB_COMMENT_TBL
		WHERE TO_CHAR(FB_COMMENT_DATE,'YYYY-MM-DD') <![CDATA[<=]]>
		TO_CHAR(SYSDATE-1,'YYYY-MM-DD'))
		+
		(SELECT COUNT(*) FROM VOTE_COMMENT_TBL
		WHERE TO_CHAR(VOTE_COMMENT_DATE,'YYYY-MM-DD') <![CDATA[<=]]>
		TO_CHAR(SYSDATE-1,'YYYY-MM-DD'))
		)
		AS BCC_DIFF_DAY
		FROM DUAL
	</select>

	<select id="statisticsWcDiffDay" resultType="int">
		SELECT
		(SELECT COUNT(*) FROM WITHDRAW_MEMBERSHIP_TBL
		WHERE
		TO_CHAR(WITHDRAW_DATE,'YYYY-MM-DD')<![CDATA[<=]]>
		TO_CHAR(SYSDATE,'YYYY-MM-DD'))
		-
		(SELECT COUNT(*) FROM
		WITHDRAW_MEMBERSHIP_TBL
		WHERE TO_CHAR(WITHDRAW_DATE,'YYYY-MM-DD')<![CDATA[<=]]>
		TO_CHAR(SYSDATE-1,'YYYY-MM-DD'))
		AS WC_DIFF_DAY
		FROM DUAL
	</select>

	<select id="statisticsWithdrawYears"
		resultType="adminStatistics">
		SELECT A.LABEL,COUNT(*)
		VALUE FROM (
		SELECT
		TO_CHAR(WITHDRAW_DATE,'YYYY')
		LABEL FROM WITHDRAW_MEMBERSHIP_TBL
		WHERE
		TO_NUMBER(TO_CHAR(WITHDRAW_DATE,'YYYY')) BETWEEN
		TO_NUMBER(TO_CHAR(SYSDATE,'YYYY'))-4 AND
		TO_NUMBER(TO_CHAR(SYSDATE,'YYYY'))) A GROUP BY A.LABEL ORDER BY
		A.LABEL
	</select>

	<select id="statisticsWithdrawYear" resultType="adminStatistics">
		SELECT
		A.LABEL||'월' AS
		LABEL,COUNT(*) VALUE FROM (
		SELECT
		TO_CHAR(WITHDRAW_DATE,'MM') LABEL FROM WITHDRAW_MEMBERSHIP_TBL WHERE
		TO_CHAR(SYSDATE,'YYYY')=TO_CHAR(WITHDRAW_DATE,'YYYY')) A GROUP BY
		A.LABEL ORDER BY A.LABEL
	</select>

	<select id="statisticsWithdrawMonth"
		resultType="adminStatistics">
		SELECT A.LABEL||'일' AS
		LABEL,COUNT(*) VALUE FROM (
		SELECT
		TO_CHAR(WITHDRAW_DATE,'DD') LABEL FROM WITHDRAW_MEMBERSHIP_TBL WHERE
		TO_CHAR(SYSDATE,'YYYY-MM')=TO_CHAR(WITHDRAW_DATE,'YYYY-MM')) A GROUP
		BY
		A.LABEL ORDER BY A.LABEL
	</select>


	<select id="statisticsFreeBoardYears"
		resultType="adminStatistics">
		SELECT A.LABEL,COUNT(*)
		VALUE FROM (
		SELECT
		TO_CHAR(FREE_BOARD_DATE,'YYYY')
		LABEL FROM FREE_BOARD_TBL
		WHERE
		TO_NUMBER(TO_CHAR(FREE_BOARD_DATE,'YYYY')) BETWEEN
		TO_NUMBER(TO_CHAR(SYSDATE,'YYYY'))-4 AND
		TO_NUMBER(TO_CHAR(SYSDATE,'YYYY'))) A GROUP BY A.LABEL ORDER BY
		A.LABEL
	</select>

	<select id="statisticsFreeBoardYear"
		resultType="adminStatistics">
		SELECT A.LABEL||'월' AS
		LABEL,COUNT(*) VALUE FROM (
		SELECT
		TO_CHAR(FREE_BOARD_DATE,'MM') LABEL FROM FREE_BOARD_TBL WHERE
		TO_CHAR(SYSDATE,'YYYY')=TO_CHAR(FREE_BOARD_DATE,'YYYY')) A GROUP BY
		A.LABEL ORDER BY A.LABEL
	</select>

	<select id="statisticsFreeBoardMonth"
		resultType="adminStatistics">
		SELECT A.LABEL||'일' AS
		LABEL,COUNT(*) VALUE FROM (
		SELECT
		TO_CHAR(FREE_BOARD_DATE,'DD') LABEL FROM FREE_BOARD_TBL WHERE
		TO_CHAR(SYSDATE,'YYYY-MM')=TO_CHAR(FREE_BOARD_DATE,'YYYY-MM')) A GROUP
		BY
		A.LABEL ORDER BY A.LABEL
	</select>

	<select id="statisticsVoteBoardYears"
		resultType="adminStatistics">
		SELECT A.LABEL,COUNT(*)
		VALUE FROM (
		SELECT
		TO_CHAR(VOTE_DATE,'YYYY') LABEL FROM VOTE_TBL
		WHERE
		TO_NUMBER(TO_CHAR(VOTE_DATE,'YYYY')) BETWEEN
		TO_NUMBER(TO_CHAR(SYSDATE,'YYYY'))-4 AND
		TO_NUMBER(TO_CHAR(SYSDATE,'YYYY'))) A GROUP BY A.LABEL ORDER BY
		A.LABEL
	</select>

	<select id="statisticsVoteBoardYear"
		resultType="adminStatistics">
		SELECT A.LABEL||'월' AS
		LABEL,COUNT(*) VALUE FROM (
		SELECT
		TO_CHAR(VOTE_DATE,'MM') LABEL FROM VOTE_TBL WHERE
		TO_CHAR(SYSDATE,'YYYY')=TO_CHAR(VOTE_DATE,'YYYY')) A GROUP BY
		A.LABEL ORDER BY A.LABEL
	</select>

	<select id="statisticsVoteBoardMonth"
		resultType="adminStatistics">
		        SELECT A.LABEL||'일' AS
		LABEL,COUNT(*) VALUE FROM (
		SELECT
		TO_CHAR(VOTE_DATE,'DD') LABEL FROM VOTE_TBL WHERE
		TO_CHAR(SYSDATE,'YYYY-MM')=TO_CHAR(VOTE_DATE,'YYYY-MM')) A
		GROUP BY
		A.LABEL ORDER BY A.LABEL
	</select>

	<insert id="insertFreeCate">
		INSERT INTO FREE_BOARD_CATEGORY_TBL VALUES(
		FB_CATEGORY_SEQ.NEXTVAL,#{categoryAddText})
	</insert>

	<insert id="insertSubFreeCate">
		INSERT INTO FREE_BOARD_SUB_CATEGORY_TBL VALUES(
		FB_SUBCATEGORY_SEQ.NEXTVAL,#{searchFreeCateNo},#{subCategoryAddText})
	</insert>

	<select id="searchFreeCate" resultType="int">
		SELECT COUNT(*) FROM
		FREE_BOARD_CATEGORY_TBL WHERE
		FREE_BOARD_CATEGORY=#{categoryAddText}
	</select>

	<select id="searchFreeCateNo" resultType="int">
		SELECT
		FREE_BOARD_CATEGORY_NO FROM FREE_BOARD_CATEGORY_TBL WHERE
		FREE_BOARD_CATEGORY=#{categoryAddText}
	</select>

	<insert id="insertNotice">
		INSERT INTO NOTICE_ALERT_TBL VALUES(
		NOTICE_SEQ.NEXTVAL,
		#{noticeContent},SYSDATE,#{noticeTarget},'FALSE',#{memberNo}
		)
	</insert>

	<select id="selectAllNotice" resultType="adminNotice">
		SELECT * FROM
		NOTICE_ALERT_TBL
	</select>

	<delete id="deleteFreeCate">
		DELETE FROM FREE_BOARD_CATEGORY_TBL WHERE
		FREE_BOARD_CATEGORY=#{delCate}
	</delete>

	<select id="searchMainNo" resultType="int">
		SELECT
		FREE_BOARD_CATEGORY_NO FROM FREE_BOARD_CATEGORY_TBL WHERE
		FREE_BOARD_CATEGORY=#{delCate}
	</select>

	<delete id="deleteFreeCate2">
		DELETE FROM FREE_BOARD_SUB_CATEGORY_TBL WHERE
		FREE_BOARD_CATEGORY_NO=#{main}
		AND FREE_BOARD_SUBCATEGORY=#{sub}
	</delete>

	<!-- 기간 내 가입자 수 (월별) -->
	<select id="statisticsCustomAccession"
		resultType="adminStatistics">
		SELECT A.MEMBER_DATE AS label, COUNT(*) AS value
		FROM (
		SELECT TO_CHAR(MEMBER_DATE,'YYYY-MM') AS MEMBER_DATE
		FROM MEMBER_TBL
		WHERE MEMBER_DATE BETWEEN #{startDate} AND #{endDate}
		) A
		GROUP BY
		A.MEMBER_DATE
		ORDER BY A.MEMBER_DATE
	</select>

	<!-- 기간 내 탈퇴 유저 수 (월별) -->
	<select id="statisticsCustomWithdraw"
		resultType="adminStatistics">
		SELECT A.WITHDRAW_DATE AS label, COUNT(*) AS value
		FROM (
		SELECT TO_CHAR(WITHDRAW_DATE,'YYYY-MM') AS WITHDRAW_DATE
		FROM
		WITHDRAW_MEMBERSHIP_TBL
		WHERE WITHDRAW_DATE BETWEEN #{startDate} AND
		#{endDate}
		) A
		GROUP BY A.WITHDRAW_DATE
		ORDER BY A.WITHDRAW_DATE
	</select>

	<!-- 기간 내 자유 게시물 등록 수 (월별) -->
	<select id="statisticsCustomFreeBoard"
		resultType="adminStatistics">
		SELECT A.FREE_BOARD_DATE AS label, COUNT(*) AS value
		FROM (
		SELECT TO_CHAR(FREE_BOARD_DATE,'YYYY-MM') AS FREE_BOARD_DATE
		FROM
		FREE_BOARD_TBL
		WHERE FREE_BOARD_DATE BETWEEN #{startDate} AND
		#{endDate}
		) A
		GROUP BY A.FREE_BOARD_DATE
		ORDER BY A.FREE_BOARD_DATE
	</select>

	<!-- 기간 내 거래 게시물 등록 수 (월별) -->
	<select id="statisticsCustomVoteBoard"
		resultType="adminStatistics">
		        SELECT A.VOTE_DATE AS label, COUNT(*) AS value
		FROM (
		SELECT TO_CHAR(VOTE_DATE,'YYYY-MM') AS VOTE_DATE
		FROM
		VOTE_TBL
		WHERE VOTE_DATE BETWEEN #{startDate} AND
		#{endDate}
		) A
		GROUP BY A.VOTE_DATE
		ORDER BY A.VOTE_DATE
		
	</select>

	<!-- 기간 내 가입률 (가입자 / (가입자+탈퇴자)) * 100 -->
	<select id="statisticsCustomAr" resultType="int">
		SELECT ROUND(
		(SELECT
		COUNT(*) FROM MEMBER_TBL
		WHERE MEMBER_DATE BETWEEN #{startDate} AND
		#{endDate})
		/
		(
		(SELECT COUNT(*) FROM MEMBER_TBL
		WHERE MEMBER_DATE BETWEEN
		#{startDate} AND #{endDate})
		+
		(SELECT COUNT(*) FROM
		WITHDRAW_MEMBERSHIP_TBL
		WHERE WITHDRAW_DATE BETWEEN #{startDate} AND
		#{endDate})
		)
		* 100, 2)
		FROM DUAL
	</select>
	
	<select id="mailTargetSearch" resultType="member">
	SELECT MEMBER_NO,MEMBER_NAME,MEMBER_EMAIL,MEMBER_PHONE FROM MEMBER_TBL WHERE MEMBER_CHECK='Y'
	</select>

	<delete id="delFreeNotice">
		DELETE NOTICE_ALERT_TBL WHERE NOTICE_NO=#{delNoticeNo}
	</delete>
	
	<update id="updateNotice">
		UPDATE NOTICE_ALERT_TBL SET NOTICE_ISACTIVE=#{isActive},MEMBER_NO=#{memberNo} WHERE NOTICE_NO=#{noticeNo}
	</update>
	
	<select id="selectActiveNotices">
	
	      SELECT NOTICE_NO, NOTICE_CONTENT, NOTICE_DATE, NOTICE_TARGET, MEMBER_NO
  FROM NOTICE_ALERT_TBL
  WHERE NOTICE_ISACTIVE = 'TRUE' AND NOTICE_TARGET=1
  ORDER BY NOTICE_NO DESC
	</select>
	
		<select id="selectVoteActiveNotices">

		SELECT NOTICE_NO, NOTICE_CONTENT, NOTICE_DATE, NOTICE_TARGET, MEMBER_NO
		FROM NOTICE_ALERT_TBL
		WHERE NOTICE_ISACTIVE = 'TRUE' AND NOTICE_TARGET=2
		ORDER BY NOTICE_NO DESC
	</select>
	
	<select id="getMemberType" resultType="int">
		SELECT MEMBER_TYPE FROM MEMBER_TBL WHERE MEMBER_NO=#{memberNo}
	</select>

</mapper>