<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.freeboard.model.dao.FreeBoardDao">

	<select id="selectCategoryList" resultType = "freeBoardCategory">
 		SELECT 
			free_board_category_no ,FREE_BOARD_CATEGORY, free_board_subcategory_no, FREE_BOARD_SUBCATEGORY 
			FROM FREE_BOARD_SUB_CATEGORY_TBL 
		JOIN FREE_BOARD_CATEGORY_TBL USING (FREE_BOARD_CATEGORY_NO)
	</select>  
	
	<select id="searchTitle" resultType = "freeBoard">
		select * from
    		(select rownum as fbnum, fb.* from
            	(select f.*, m.member_nickname, m.member_id, (select count(*) from fb_like_tbl where free_board_no=f.free_board_no) as like_count
                from free_board_tbl f
            left join member_tbl m on (f.member_no = m.member_no)
            ) fb
            <if test="order == 2">
            	order by free_board_no desc
            </if>
    		<if test="order == 1">
    			order by free_board_no asc
    		</if>
          	)
          	<if test="selected == null">
          		where fbnum between #{startRow} and #{endRow} and free_board_title like '%' || #{freeBoardTitle} || '%'
          	</if>
	</select>
	 
	<select id="boardList" resultType="freeBoard">
		select * from free_board_tbl
	</select>
	
	<select id="totalBoardList" resultType = "freeBoard">
		select * from
    		(select rownum as fbnum, fb.* from
            	(select f.*, m.member_nickname, m.member_id, (select count(*) from fb_like_tbl where free_board_no=f.free_board_no) as like_count
                from free_board_tbl f
            left join member_tbl m on (f.member_no = m.member_no)
            ) fb
            <if test="order == 2">
            	order by free_board_no desc
            </if>
    		<if test="order == 1">
    			order by free_board_no asc
    		</if>
          	)
          	<if test="selected == null">
          		where fbnum between #{startRow} and #{endRow}
          	</if>
          	<if test="selected != null">
          		where (fbnum between #{startRow} and #{endRow}) and free_board_subcategory_no = #{selected}
          	</if>
	</select>
	
	<select id="totalListCount" resultType="int">
		select count(*) from free_board_tbl
	</select>
	<!-- 
	<select id="subList" resultType = "freeBoard">
		select * from
    		(select rownum as fbnum, fb.* from
            	(select f.*, m.member_nickname, m.member_id, (select count(*) from fb_like_tbl where free_board_no=f.free_board_no) as like_count
                	from free_board_tbl f
            	left join member_tbl m on (f.member_no = m.member_no)
         	) fb
         	<if test="order == 2">
         		order by free_board_no desc
         	</if>
         	<if test="order == 1">
         		order by free_board_no asc
         	</if>
         	)
		where (fbnum between #{startRow} and #{endRow}) and free_board_subcategory_no = #{freeBoardSubcategoryNo} 
	</select>
	 -->
	 
	 <select id="mainTitle" resultType="freeBoard">
	 	<![CDATA[
		    SELECT b.free_board_no,
		           b.free_board_title,
		           b.member_no,
		           m.member_nickname
		    FROM (
		        SELECT free_board_no,
		               free_board_title,
		               member_no
		        FROM free_board_tbl
		        ORDER BY free_board_no DESC
		    ) b
		    JOIN member_tbl m
		    ON b.member_no = m.member_no
		    WHERE ROWNUM <= #{limit}
		]]>
	 </select>
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
</mapper>
