<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.freeboard.model.dao.FreeBoardDao">

	<select id="selectCategoryList" resultType = "freeBoardCategory">
		SELECT FREE_BOARD_CATEGORY,FREE_BOARD_SUBCATEGORY FROM FREE_BOARD_SUB_CATEGORY_TBL JOIN FREE_BOARD_CATEGORY_TBL USING (FREE_BOARD_CATEGORY_NO)
	</select>  
	
</mapper>
