<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "kr.co.iei.member.model.dao.MemberDao">

	<!-- 회원가입 -->
	<insert id="join">
		insert into member_tbl values(member_seq.nextval, #{memberId}, #{memberPw}, #{memberName}, #{memberNickname}, #{memberPhone}, #{memberEmail}, #{memberGender}, #{memberBirth}, sysdate, 2, #{memberCheck})		
	</insert>

	<!-- 로그인
	<select id="login" resultType="member">
		select * from member_tbl where member_id = #{memberId} and member_pw = #{memberPw}
	</select>
	-->
	
	<!-- jwt  -->
	<select id="selectOneMember" resultType="member">
		select * from member_tbl where member_id = #{memberId}
	</select>
	
	<!-- 아이디 중복 -->
	<select id="exists" resultType="int">
		select count(*) from member_tbl where member_id = #{memberId}
	</select>
	
	<!-- 닉네임 중복 -->
	<select id="nickname" resultType="int">
		select count(*) from member_tbl where member_nickname = #{memberNickname}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePw">
		update member_tbl set member_pw = #{memberPw} where member_id = #{memberId}
	</update>
	
	<!-- 이메일 변경 -->
	<update id="changeEmail">
		update member_tbl set member_email = #{memberEmail} where member_id = #{memberId}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteMember">
		delete from member_tbl where member_id = #{memberId}
	</delete>
	
	<!-- 닉네임 변경 -->
	<update id="updateNickname">
		update member_tbl set member_nickname = #{memberNickname} where member_id = #{memberId}
	</update>
	
	
	<!-- 아이디, 비밀번호 찾기 -->
	<select id="find" resultType="member">
		select * from member_tbl where member_name = #{memberName} and member_birth = #{memberBirth} and member_phone = #{memberPhone}
	</select>
	
	<select id="findPw" resultType="member">
		select * from member_tbl where member_id = #{memberId} and member_email = #{memberEmail} 
	</select>
	
	<update id="updatePw">
		update member_tbl set member_pw = #{memberPw} where member_id = #{memberId} and member_name = #{memberName} and member_email = #{memberEmail} 
	</update>
	
	<!-- 채팅 닉네임 가져오기 -->
	<select id="chat" resultType="member">
		select member_nickname from member_tbl where member_id = #{memberId}
	</select>
	
	<!-- 전화번호 중복 -->
	<select id="phone" resultType="int">
		select count(*) from member_tbl where member_phone = #{memberPhone}
	</select>
	
	<!-- 이벤트 메일 동의 여부 -->
	<update id="promotion">
		update member_tbl set member_check = #{memberCheck} where member_id = #{memberId}
	</update>
	
	<select id="sendEmail" resultType="member">
		select * from member_tbl where member_check = #{memberCheck}
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>