<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.note.model.dao.NoteDao">
	<insert id="receiveNote">
		insert into note_tbl values(
			note_seq.nextval, 
			#{noteContent}, 
			sysdate , 
			null, 
			0,
			0,
			0,
			#{memberSend},
			#{memberReceive},
			#{sendId},
			#{receiveId})
	</insert>
	<!-- 멤버번호 기준으로 멤버아이디 찾기 -->
	<select id="getMemberNo" resultType="int" >
		select member_no from member_tbl where member_id = #{memberId}
	</select>
	
	<!-- 받은쪽지함 리스트 뽑기  -->
	<select id="selectReceivedNotes" resultType="note">
	  select 
	  note_no, 
	  note_content,
	  note_content_read,
	  to_char(note_date, 'YYYY-MM-DD HH24:MI:SS') as noteDate,
	  note_date, 
	  send_id
	  from note_tbl
	  where receive_id = #{memberId} and del_receive = 0
	  order by note_date desc
	</select>
	
	<!-- 보낸쪽지함 리스트 뽑기  -->
	<select id="selectSendNotes" resultType="note">
	  select 
	  note_no, 
	  note_content, 
	  note_content_read,
	  to_char(note_date, 'YYYY-MM-DD HH24:MI:SS') as noteDate,  
	  note_date,
	  receive_id
	  from note_tbl
	  where send_id = #{memberId} and del_send = 0
	  order by note_date desc
	</select>

	<update id="sendUpdateList">
		update note_tbl set del_send = 1 
		where note_no in
			<foreach collection="selectNoteNos" item="send" open="(" close= ")" separator=",">
				#{send.noteNos}
			</foreach>
	</update>

	<update id="receiveUpdateList">
		update note_tbl set del_receive = 1 
		where note_no in
			<foreach collection="selectNoteNos" item="receive" open="(" close= ")" separator=",">
				#{receive.noteNos}
			</foreach>
	</update>

	<update id="readContent">
		update note_tbl set note_content_read = 1
		where note_no = #{noteNo}
	</update>

</mapper>