<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.tradeBoard.model.dao.TradeBoardDao">
    <select id="totalCount" resultType="int">
        select count(*) from trade_board_tbl where trade_board_status = 1
    </select>

    <select id="selectTradeBoardList" resultType="tradeBoard">
        select * from
        (select rownum as rnum, b.*
            from
                (select
                    trade_board_no,
                    trade_thumbnail_path,
                    trade_board_title,
                    trade_board_price
                from trade_board_tbl where trade_board_status = 1 order by trade_board_no desc)b)
        where rnum BETWEEN #{startRow} and #{endRow}
    </select>

    <select id="selectOneBoard" parameterType="int" resultType="tradeBoard">
        select trade_board_no,
            trade_board_title,
            trade_board_content,
            member_no,
            TO_CHAR(trade_board_date, 'YYYY-MM-DD HH24:MI:SS') as trade_board_date,
            trade_board_price,
            trade_board_place,
            trade_board_status,
            trade_board_category_no,
            member_nickname,
            trade_thumbnail_path from trade_board_tbl left join member_tbl using (member_no)
        where trade_board_no = #{tradeBoardNo}
    </select>

    <select id="selectCommentList" parameterType="int" resultType="tradeComment">
        select 
            tb_comment_no,
            trade_board_no,
            member_nickname,
            tb_comment_content,
            TO_CHAR(tb_comment_date, 'YYYY-MM-DD HH24:MI:SS')
        from tb_comment_tbl left join member_tbl using (member_no)
        where trade_board_no = #{tradeBoardNo}
        order by tb_comment_no asc
    </select>

    <insert id="insertComment" parameterType="tradeComment">
	    INSERT INTO tb_comment_tbl (
	        tb_comment_no,
	        trade_board_no,
	        trade_board_category_no,   
	        member_no,
	        tb_comment_content,
	        tb_comment_date
	    ) VALUES (
	        tb_comment_seq.nextval,
	        #{tradeBoardNo},
	        #{tradeBoardCategoryNo},   
	        #{memberNo},
	        #{tbCommentContent},
	        SYSDATE
	    )
	</insert>
	
	<select id="selectCategoryNoByTradeBoardNo" parameterType="int" resultType="int">
	    SELECT trade_board_category_no
	    FROM trade_board_tbl
	    WHERE trade_board_no = #{tradeBoardNo}
	</select>

    <insert id="insertLike" parameterType="tradeLike">
        INSERT INTO tb_like_tbl (
            trade_like_no,
            trade_board_no,
            member_no
        ) VALUES (
            tb_like_seq.NEXTVAL,
            #{tradeBoardNo},
            #{memberNo}
        )
    </insert>

    <delete id="deleteLike" parameterType="tradeLike">
        DELETE FROM tb_like_tbl
        WHERE trade_board_no = #{tradeBoardNo}
          AND member_no = #{memberNo}
    </delete>

    <select id="selectLikeCount" parameterType="int" resultType="int">
        SELECT COUNT(*) 
        FROM tb_like_tbl
        WHERE trade_board_no = #{tradeBoardNo}
    </select>

    <insert id="insertReport" parameterType="tradeReport">
        INSERT INTO tb_claim_tbl (
            trade_board_no,
            member_no,
            tb_claim_reason,
            tb_claim_date
        ) VALUES (
            tb_claim_seq.NEXTVAL,
            #{tradeBoardNo},
            #{MemberNo},
            #{tbClaimReason},
            SYSDATE
        )
    </insert>

    <select id="mainTitle" resultType="tradeBoard">
        <![CDATA[
            SELECT b.trade_board_no,
                   b.trade_board_title,
                   b.member_no,
                   m.member_nickname
            FROM (
                SELECT trade_board_no,
                       trade_board_title,
                       member_no
                FROM trade_board_tbl
                ORDER BY trade_board_no DESC
            ) b
            JOIN member_tbl m
            ON b.member_no = m.member_no
            WHERE ROWNUM <= #{limit}
        ]]>
    </select>
    
    <select id="selectSellerBoards" parameterType="int" resultType="tradeBoard">
	    SELECT 
	        trade_board_no,
	        trade_board_title,
	        trade_board_price,
	        trade_thumbnail_path,
	        member_no
	    FROM trade_board_tbl
	    WHERE member_no = #{memberNo}
	    ORDER BY trade_board_no DESC
	</select>

	<insert id="insertTradeBoard" parameterType="tradeBoard">
    INSERT INTO trade_board (
      trade_board_no,
      trade_board_title,
      trade_board_content,
      trade_board_price,
      trade_board_place,
      trade_board_status,
      trade_board_category_no,
      member_no
    ) VALUES (
      trade_board_seq.NEXTVAL,
      #{tradeBoardTitle},
      #{tradeBoardContent},
      #{tradeBoardPrice},
      #{tradeBoardPlace},
      0,
      #{tradeBoardCategoryNo},
      #{memberNo}
    )
  </insert>
    
</mapper>

