<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.vote.model.dao.VoteDao">
	<select id="getVoteNo" resultType="int">
		select vote_seq.nextval from dual
	</select>
	
	<insert id="insertVote">
	 	insert into vote_tbl 
	 	values(#{voteNo},#{voteTitle},sysdate,to_date(#{voteEndDate},'yyyy-mm-dd HH24:MI'),0,#{memberNo})
	</insert>
	
	<insert id="insertContent">
		insert into vote_option_tbl values(vote_option_seq.nextval,#{voteContent},#{voteNo})
	</insert>
	
	<!-- < > 기호를 쓸때 필요한 CDATA -->
	<update id="updateVoteCheck">
	<![CDATA[
        update vote_tbl set vote_check = 1 where vote_end_date <= sysdate and vote_check = 0
    ]]>
	</update>
	
	<select id="selectVoteList" resultType="vote">
	select * from
	    (select rownum rnum,e.* from
	        (select * from 
            (select c.*,nvl(total , 0)vote_total from 
	            (select B.*,
	                    (select count(*) from vote_result_tbl where vote_no = b.vote_no and member_no = #{memberNo})vote_ok
	                    from 
	                    (
	                    select A.* from
	                        (
	                        select vote_no,member_nickname , vote_title,
	                        to_char(vote_date,'yyyy-mm-dd HH24:MI') as vote_date,
	                        to_char(vote_end_date,'yyyy-mm-dd HH24:MI') as vote_end_date
	                        , vote_check 
	                        from member_tbl
	                        join vote_tbl using(member_no)
							<if test="order == 1">
							where vote_check = #{order}
							</if>
							<if test="order == 0">
							where vote_check = #{order}
							</if>
	                        )A
	                    )B     
	               )C left join (select count(*)total,vote_no from vote_result_tbl group by vote_no)    
                   D on (c.vote_no = d.vote_no))
                 order by vote_check asc, vote_date desc, vote_no desc)e)f 
	where rnum between #{startRow} and #{endRow}
	</select>
	
 	<select id="totalListCount" resultType="int">
 	
 		select count(*) from vote_tbl 
 		<if test="order != 2">
 		where vote_check = #{order}
 		</if>
 	</select>
 	
 	<!-- 정민 작업(메인페이지 리스트 출력)-->
 	<select id="mainTitle" resultType="vote">
 		<![CDATA[
		    SELECT v.vote_no,
		           v.vote_title,
		           to_char(v.vote_end_date, 'yyyy-mm-dd HH24:MI') as vote_end_date,
		           v.member_no,
		           m.member_nickname
		    FROM (
		        SELECT vote_no,
		               vote_title,
		               vote_end_date,
		               member_no
		        FROM vote_tbl
		        ORDER BY vote_no DESC
		    ) v
		    JOIN member_tbl m
		    ON v.member_no = m.member_no
		    WHERE ROWNUM <= #{limit}
		]]>
 	</select>
 	
 	<select id="selectOneVote" resultType="vote">
 	 SELECT 
    V.*,
    M.MEMBER_NICKNAME,
    NVL(LIKE_COUNT, 0) AS LIKE_COUNT
  FROM 
    VOTE_TBL V
    JOIN MEMBER_TBL M ON V.MEMBER_NO = M.MEMBER_NO
    LEFT JOIN (
      SELECT VOTE_NO, COUNT(*) AS LIKE_COUNT
      FROM VOTE_LIKE_TBL
      GROUP BY VOTE_NO
    ) L ON V.VOTE_NO = L.VOTE_NO
  WHERE 
    V.VOTE_NO = #{voteNo}
 	</select>
 	
 	<select id="selectVoteOptions" resultType="voteOption">
 	select * from vote_option_tbl
	where vote_no = #{voteNo}
	order by vote_option_no
 	</select>
 	
 	<insert id="insertResultVote">
 	insert into vote_result_tbl values(#{voteNo},#{memberNo},#{voteOptionNo})
 	</insert>
 	
	<select id="selectOptionCount" resultType="voteCount">
	SELECT * FROM (
		SELECT * FROM VOTE_OPTION_TBL WHERE VOTE_NO=#{voteNo}) B LEFT JOIN (SELECT * FROM (
			select vote_option_no,vote_option_count from 
			(select vote_option_no,count(*)vote_option_count from vote_result_tbl
				group by vote_option_no)
					left join vote_option_tbl using(vote_option_no)
						where vote_no = #{voteNo}) A) USING (VOTE_OPTION_NO)
							order by vote_option_no asc
	
	</select>	
	
	<delete id="deleteVote">
		delete from vote_tbl where vote_no = #{voteNo}
	</delete>
		
	<update id="updateEndDate">
		update vote_tbl set vote_check = 1 where vote_no = #{voteNo}
	</update>
	
	<select id="checkOption" resultType="int">
	select decode(cnt,1,(select vote_option_no from vote_result_tbl where vote_no = #{voteNo} and member_no = #{memberNo}),0,cnt) vote_option_no from
(select count(*) cnt from
(select vote_option_no from vote_result_tbl where vote_no = #{voteNo} and member_no = #{memberNo}))
	
		

	</select>
	
	<update id="reVote">
		update vote_result_tbl set vote_option_no = #{voteOptionNo} where vote_no= #{voteNo} and member_no = #{memberNo}
	</update>
		
	<insert id="commentInsert">
		insert into vote_comment_tbl values( 
			vote_comment_seq.nextval,
			#{voteCommentContent},
			sysdate,
			#{memberNo},
			#{voteNo}
		)
	</insert>	
		
	<select id="selectVoteCommentList" resultType="comment">
		SELECT VOTE_COMMENT_NO,VOTE_COMMENT_CONTENT,VOTE_COMMENT_DATE,MEMBER_NO,MEMBER_NICKNAME,VOTE_NO,NVL(LIKE_CNT,0) LIKE_CNT FROM (
select
			vote_comment_no,
			vote_comment_content,
			to_char(vote_comment_date,'yyyy-mm-dd HH24:MI:SS') as vote_comment_date,
			member_no,
			member_nickname,
			vote_no  from (select * from vote_comment_tbl 
			left join member_tbl using (member_no))
			where vote_no = #{voteNo}) LEFT JOIN (SELECT VOTE_COMMENT_NO,COUNT(*) LIKE_CNT FROM VOTE_COMMENT_LIKE_TBL GROUP BY VOTE_COMMENT_NO) USING (VOTE_COMMENT_NO)
			order by vote_comment_date  desc
	</select>	
	
	<update id="updateComment">
		update vote_comment_tbl 
		set vote_comment_content =  #{voteCommentContent}
		where vote_comment_no = #{voteCommentNo}
	</update>
		
	<delete id="deleteComment">
		delete from vote_comment_tbl 
		where vote_comment_no = #{voteCommentNo}
	</delete>	
		
		<select id="memberIsCommentLike" resultType="int">
		SELECT COUNT(*) VOTE_LIKE_CNT FROM VOTE_COMMENT_LIKE_TBL WHERE MEMBER_NO=#{memberNo} AND VOTE_COMMENT_NO=#{voteCommentNo}
		</select>
		<insert id="commentLike">
		INSERT INTO VOTE_COMMENT_LIKE_TBL VALUES(
    #{voteCommentNo},#{memberNo},SYSDATE
)
		</insert>
		
		<delete id="commentLikeCancel">
		DELETE VOTE_COMMENT_LIKE_TBL WHERE MEMBER_NO=#{memberNo} AND VOTE_COMMENT_NO=#{voteCommentNo}
		</delete>
		
		<select id="checkDuplicateCommentReport" resultType="int">
		  SELECT COUNT(*) 
		  FROM VOTE_COMMENT_REPORT_TBL
		  WHERE VOTE_COMMENT_NO = #{voteCommentNo}
		    AND MEMBER_NO = #{memberNo}
		</select>
		
		<insert id="insertCommentReport">
		  INSERT INTO VOTE_COMMENT_REPORT_TBL VALUES(VOTE_COMMEMT_REPORT_SEQ.NEXTVAL, #{reportReason}, SYSDATE, #{memberNo}, #{voteCommentNo})
		</insert>
		

		  <select id="checkVoteLike" resultType="int">
		    SELECT COUNT(*)
		    FROM VOTE_LIKE_TBL
		    WHERE VOTE_NO = #{voteNo}
		      AND MEMBER_NO = #{memberNo}
		  </select>
		
		  <insert id="insertVoteLike">
		    INSERT INTO VOTE_LIKE_TBL (
		      VOTE_NO, MEMBER_NO, VOTE_LIKE_DATE
		    ) VALUES (
		      #{voteNo}, #{memberNo}, SYSDATE
		    )
		  </insert>
		
		  <delete id="deleteVoteLike">
		    DELETE FROM VOTE_LIKE_TBL
		    WHERE VOTE_NO = #{voteNo}
		      AND MEMBER_NO = #{memberNo}
		  </delete>
		  
		  <select id="checkVoteReport" resultType="int">
		    SELECT COUNT(*)
		    FROM VOTE_REPORT_TBL
		    WHERE VOTE_NO = #{voteNo}
		      AND MEMBER_NO = #{memberNo}
		  </select>
		
		  <insert id="insertVoteReport">
		    INSERT INTO VOTE_REPORT_TBL (
		      VOTE_REPORT_NO,
		      VOTE_REPORT_CONTENT,
		      VOTE_REPORT_DATE,
		      MEMBER_NO,
		      VOTE_NO
		    ) VALUES (
		      VOTE_REPORT_SEQ.NEXTVAL,
		      #{reportReason},
		      SYSDATE,
		      #{memberNo},
		      #{voteNo}
		    )
		  </insert>
</mapper>
