<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.vote.model.dao.VoteDao">
	<select id="getVoteNo" resultType="int">
		select vote_seq.nextval from dual
	</select>
	
	<insert id="insertVote">
	 	insert into vote_tbl 
	 	values(#{voteNo},#{voteTitle},sysdate,to_date(#{voteEndDate},'yyyy-mm-dd HH24:MI'),0,#{memberNo})
	</insert>
	
	<insert id="insertContent">
		insert into vote_option_tbl values(vote_option_seq.nextval,#{voteContent},#{voteNo})
	</insert>
	
	<select id="selectVoteList" resultType="vote">
	select B.* from (
	select rownum rnum,A.* from(
	select member_nickname , vote_title, vote_date, vote_check 
	from member_tbl 
	join vote_tbl using(member_no) 
	order by vote_check asc, vote_date desc)A)B where rnum between #{startRow} and #{endRow}
	</select>
	
 	<select id="totalListCount" resultType="int">
 		select count(*) from vote_tbl
 	</select>
		
</mapper>