<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.vote.model.dao.VoteDao">
	<select id="getVoteNo" resultType="int">
		select vote_seq.nextval from dual
	</select>
	
	<insert id="insertVote">
	 	insert into vote_tbl 
	 	values(#{voteNo},#{voteTitle},sysdate,to_date(#{voteEndDate},'yyyy-mm-dd HH24:MI'),0,#{memberNo})
	</insert>
	
	<insert id="insertContent">
		insert into vote_option_tbl values(vote_option_seq.nextval,#{voteContent},#{voteNo})
	</insert>
	
	<!-- < > 기호를 쓸때 필요한 CDATA -->
	<update id="updateVoteCheck">
	<![CDATA[
        update vote_tbl set vote_check = 1 where vote_end_date <= sysdate and vote_check = 0
    ]]>
	</update>
	
	<select id="selectVoteList" resultType="vote">
		select B.*,
		(select count(*) from vote_result_tbl where vote_no = b.vote_no and member_no = #{memberNo})
		from 
		(
		select rownum rnum,A.* from
			(
			select vote_no,member_nickname , vote_title, 
			to_char(vote_date,'yyyy-mm-dd HH24:MI') as vote_date,
			to_char(vote_end_date,'yyyy-mm-dd HH24:MI') as vote_end_date
			, vote_check 
			from member_tbl
			join vote_tbl using(member_no)
			<if test="order != 3">
			where vote_check = #{order}
			</if>
			order by vote_check asc, vote_date desc, vote_no desc
			)A
		)B 
		where rnum between #{startRow} and #{endRow} 
		
		
	</select>
	
 	<select id="totalListCount" resultType="int">
 		select count(*) from vote_tbl
 	</select>
 	
 	<!-- 정민 작업(메인페이지 리스트 출력)-->
 	<select id="mainTitle" resultType="vote">
 		<![CDATA[
		    SELECT v.vote_no,
		           v.vote_title,
		           v.member_no,
		           m.member_nickname
		    FROM (
		        SELECT vote_no,
		               vote_title,
		               member_no
		        FROM vote_tbl
		        ORDER BY vote_no DESC
		    ) v
		    JOIN member_tbl m
		    ON v.member_no = m.member_no
		    WHERE ROWNUM <= #{limit}
		]]>
 	</select>
 	
 	<select id="selectOneVote" resultType="vote">
 	select * from vote_tbl
	where vote_no = #{voteNo}
 	</select>
 	
 	<select id="selectVoteOptions" resultType="voteOption">
 	select * from vote_option_tbl
	where vote_no = #{voteNo}
	order by vote_option_no
 	</select>
 	
 	<insert id="insertResultVote">
 	insert into vote_result_tbl values(#{voteNo},#{memberNo},#{voteOptionNo})
 	</insert>
 	
	<select id="selectOptionCount" resultType="voteCount">
	select * from 
		(select vote_option_no,count(*)vote_option_count from vote_result_tbl
			group by vote_option_no)
				left join vote_option_tbl using(vote_option_no)
					where vote_no = #{voteNo}
	</select>	
	
	<delete id="deleteVote">
		delete from vote_tbl where vote_no = #{voteNo}
	</delete>
		
	<update id="updateEndDate">
		update vote_tbl set vote_check = 1 where vote_no = #{voteNo}
	</update>
	
		
</mapper>