.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #2f4e70;
  padding: 10px 20px;
  margin-bottom: 50px;
}
.logo-wrap {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navi-wrap {
  display: flex;
  align-items: space-between;
  white-space: nowrap;
}
.navi-menu {
  display: flex;
}
.home {
  margin-right: 250px;
}
.trade {
  margin-right: 200px;
}
.navi-down {
  position: absolute;
  background-color: #2f4e70;
  top: 80px;
  min-width: 120px;
  border-radius: 4px;
  list-style: none;
  padding-top: 10px;
  margin: 0;
}
.navi-down li {
  padding: 8px 12px;
}
.navi-down a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.navi-down a:hover {
  background-color: #2f4e70;
  color: #fff;
}
.board-btn {
  display: flex;
  border: none;
  background: none;
  color: #fff;
  font-size: medium;
}
.board-btn:hover {
  color: #d4e1f0;
}
.board-btn a {
  text-decoration: none;
}
.board-btn svg {
  cursor: pointer;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0 70px 60px 0;
  padding: 0;
  white-space: nowrap;
}
.header-user a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.header-user a:hover {
  color: #d4e1f0;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main{
  flex: 1;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #2f4e70;
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 12px;
  line-height: 23px;
  padding: 20px;
  margin-top: 50px;   
  position: relative;    
  
}

/* 메인페이지 */

.main-wrap{
  width: 1200px;
  margin: 0 auto;
  
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.main-board-list{
  width: 750px;
  height: 421px;
  padding-left: 10px;
  padding-top : 10px;
  box-sizing: border-box;
  margin-left: 20px;
  display: flex;
  gap: 23px;
  
}

/* 중고거래 게시판, 자유 */

.main-board-list .first{
  width: 350px;
  height: 450px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;

}

.first>div h4{
  padding-left: 7px;
  
  padding-top : 10px;
  font-size: 20px;
}

.main-board-content{
  padding-left: 7px;
  padding-top : 10px;
  display: flex;
  justify-content: flex-start;
  gap: 150px;
}

.transaction-list-right{
  display: flex;
  gap: 10px;
}

/* 스포츠, 게임 게시판*/
.pre-board-content{
  text-align: center;
  line-height: 330px;
}

/* 로그인 */

/* 로그인 박스*/
.main-login-box{
  width: 750px;
  margin-left: 20px;
  margin-top : 60px;
}

.main-login{
  width: 350px;
  height: 170px;
  padding-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.login-btn{
  width: 350px;
  text-align: center;
}

.login-btn>button{
  width: 280px;
  height: 50px;
  background-color: #2f4e70;
  border-radius: 10px;
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  margin : 30px 0;
  cursor: pointer;
}

.login-find{
  width: 350px;
}

/* 컨텐츠 박스 */
.main-topic{
  width: 350px;
  height: 450px;
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.main-topic>h3{
  padding-left: 10px;
  padding-top : 10px;
}

.main-topic .topic-list{
  text-align: center;
  line-height: 330px;
}