@font-face {
  font-family: ns-l;
  src: url(/font/NotoSansKR-Light.ttf);
}
@font-face {
  font-family: ns-r;
  src: url(/font/NotoSansKR-Regular.ttf);
}
@font-face {
  font-family: ns-b;
  src: url(/font/NotoSansKR-Bold.ttf);
}
@font-face {
  font-family: ns-black;
  src: url(/font/NotoSansKR-Black.ttf);
}

body {
  background-color: #f0f2f5;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: ns-r;
  list-style-type: none;
  color: var(--main1);
}

* {
  margin: 0;
  padding: 0;
}
