* {
  margin: 0;
  padding: 0;
}
.main-div .main-wrap {
  display: flex;

  box-sizing: content-box;
}
.main-div .main-header {
  height: 80px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  align-items: center;
}
.main-div .search-div {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.main-div .search-div input {
  width: 400px;
  padding: 8px 12px;
  border: none;
  font-size: 14px;
  border-left: 1px solid #ccc;
  background-color: #f0f2f5;
}
.main-div .search-menu {
  width: 140px;
  margin: 8px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.main-div .search-menu span {
  width: max-content;
}
.main-div .search-menu svg {
  margin: 1px 0px 0px 10px;
}
.main-div .search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-div .search-btn:hover {
  color: #2f4e70;
}
.main-div .status-box {
  width: max-content;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
}
.main-div .status-bar {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 6px;
}
.main-div .menu-tag {
  display: flex;
  align-items: center;
  background-color: #43688f;
  color: white;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 13px;
  cursor: pointer;
  flex-wrap: wrap;
  width: max-content;
  user-select: none;
}
.main-div .menu-tag:hover {
  margin: 1px;
}
.main-div .menu-tag svg {
  margin-left: 4px;
  font-size: 16px;
  cursor: pointer;
}
.main-div .menu-tag svg:hover {
  color: #000;
}
/*메인페이지 글 목록 css*/
.main-div .main-page {
  display: flex;
}
.main-div .section-company {
  width: 70%;
}
.main-div .main-content {
  width: 50%;
  min-height: 850px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}
.main-div .free-board {
  width: 95%;
  height: 89%;
}
.main-div .write-div {
  width: 60px;
  min-height: 30px;
  margin: 0px 0px 10px 830px;
  text-align: center;
}
.main-div .write-div div {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #2f4e70;
  color: white;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
}
.main-div .active-submenu {
  border-radius: 5px;
  background-color: #43688f;
  color: white;
  cursor: pointer;
}
.main-div .freeBoard-section {
  display: flex;
  flex-direction: column;
}
.main-div .board-div {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}
.main-div .board-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: content-box;
  border-bottom: 1px solid #ccc;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}
.main-div .board-section:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateX(-2px) translateY(-2px); /* 호버 시 살짝 위로 이동하는 효과 */
}
.main-div .board-status {
  width: max-content;
  user-select: none;
  background-color: #2f4e70;
  padding: 0px 10px;
  color: white;
  margin: 20px 0px 0px 18px;
  border-radius: 3px;
  text-align: right;
}
.main-div .board-title {
  width: max-content;
  font-size: 23px;
  margin: 15px 0px 5px 20px;
  font-weight: 600;
}
.main-div .board-content {
  max-width: 280px;
  max-height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 0px 20px 40px;
  box-sizing: content-box;
}
.main-div .board-thumbnail {
  max-width: 100px;
  height: 150px;
  display: flex;
  background-color: #2f4e70;
}
.main-div .nickname-id {
  font-weight: 500;
  margin: 0px 0px 10px 25px;
  display: flex;
  gap: 6px;
  font-size: 13px;
}
.main-div .view-heart {
  display: flex;
  margin: 5px 25px 15px 25px;
  gap: 12px;
  font-size: 13px;
}
.main-div .view {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-div .view svg {
  font-size: 20px;
}
.main-div .heart {
  width: max-content;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 5px;
}
.heart svg {
  font-size: 18px;
}
.hour {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hour svg {
  font-size: 18px;
}
.order-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 15px 5px 0px;
}
.order-div div {
  display: flex;
  align-items: center;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  user-select: none;
}
.order-div span {
  margin-right: 3px;
}
.order-div svg {
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*글작성 페이지 css*/

.write-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ccc;
}
.write-wrap:not(.content-write) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-area {
  width: 800px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.section-area div {
  display: flex;
}
.text-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
.text-area div:first-child {
  display: flex;
  gap: 5px;
  color: #2f4e70;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.text-area div:last-child {
  color: #2f4e70;
  font-weight: 500;
}
.title-text input {
  width: 580px;
  height: 25px;
  border: 0.3px solid #ccc;
  border-radius: 3px;
  background-color: #f0f2f5;
  padding-left: 8px;
}
.category-area {
  display: flex;
  gap: 23px;
  color: #2f4e70;
  font-weight: 600;
  align-items: center;
}
.category-area div:first-child {
  display: flex;
  gap: 5px;
}
.category-text {
  display: flex;
  gap: 10px;
}
.category-text svg {
  display: flex;
  gap: 10px;
}
.category-text div > input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f4e70;
}

.title-area {
  display: flex;
  gap: 55px;
  color: #2f4e70;
  font-weight: 500;
}
.title-area input {
  height: 35px;
}
.title-area div:first-child {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #2f4e70;
  font-weight: 600;
}
.content-write {
  display: flex;
  width: 800px;
  gap: 55px;
  margin-top: 20px;
}
.content-write div:first-child {
  display: flex;
  height: min-content;
  gap: 5px;
  color: #2f4e70;
  font-weight: 500;
}
.content-write div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2f4e70;
  font-weight: 600;
}
.content-area span {
  color: #2f4e70;
  font-weight: 600;
}
.content-text {
  min-width: 600px;
  min-height: 500px;
  background-color: antiquewhite;
}
.left {
  margin-right: 20px;
}
.right {
  margin-left: 20px;
}
/*작성 버튼*/
.submit-section {
  display: flex;
  gap: 100px;
  margin-top: 30px;
}
.submit-section div > button {
  border: none;
  background-color: #2f4e70;
  color: white;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  user-select: none;
  cursor: pointer;
  font-size: 16px;
}
.content-write div {
  border: none;
}
.content-write div > span {
  color: #2f4e70;
  font-weight: 600;
}
.content-area {
  background-color: transparent;
  display: flex;
  flex-grow: 1;
  color: white;
}
.content-editor {
  background-color: transparent;
  display: flex;
  color: white;
  border: none;
  overflow: visible;
  box-sizing: border-box;
  max-height: 450px;
}
.quill {
  border: 1px solid #ccc !important;
  max-width: 680px;
  max-height: 400px;
  box-sizing: border-box;
}
.ql-tooltip {
  display: none !important;
}
.ql-toolbar.ql-snow {
  border: none !important;
  display: block;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc !important;
  overflow: visible !important;
}
.ql-container.ql-snow {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  border: none !important;
}
.ql-editor {
  display: flex !important;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  overflow: scroll !important;
  white-space: nowrap !important;
  border: none !important;
  scrollbar-width: none;
}
.content-editor div {
  display: flex;
  flex-grow: 1;
}
/* 자유게시판 상세페이지 */

.detail-container {
  width: 1200px;
  margin: 50px auto;
  color: #1e1e1e;
}
.detail-path {
  color: #7a7a7a;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 50px;
}
.detail-title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}
.detail-title {
  font-size: 22px;
  font-weight: bold;
}
.detail-buttonBox {
  text-align: center;
  margin-right: 50px;
  display: flex;
  gap: 10px;
}
.detail-view {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  margin-left: 50px;
}
.detail-view .view {
  display: flex;
  gap: 5px;
  font-size: 13px;
}
.detail-view .view svg {
  font-size: 20px;
}
.detail-view .heart {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  height: 20px;
}
.detail-view .heart svg {
  font-size: 18px;
}
.detail-view .hour {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 20px;
}
.detail-view .hour svg {
  font-size: 17px;
}
.modify-btn,
.delete-btn {
  background: none;
  border: 1px solid #003366;
  border-radius: 3px;
  color: #003366;
  font-size: 13px;
  padding: 2px 10px;
  margin-left: 5px;
  cursor: pointer;
}
.detail-meta {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}
.meta-icon {
  display: flex;
  align-items: center;
  gap: 3px;
}
.detail-line {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}
.detail-main-line {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}
.detail-main {
  display: flex;
  justify-content: space-between;
  height: 500px;
}
.detail-content {
  width: 75%;
  height: 450px;
  display: flex;
  align-items: center;
  align-self: flex-end;
  border-top: 1px solid #ccc;
  gap: 30px;
}
.detail-content p {
  display: flex;
  justify-content: flex-start;
}
.detail-freeBoardContent {
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  padding-left: 20px;
}
.detail-image-box {
  width: 300px;
  min-height: 250px;
  overflow: visible;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 250px;
  color: #aaa;
  margin-bottom: 20px;
}
.detail-buttons {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin: 20px 0px 0px 10px;
  gap: 660px;
}
.detail-buttons div {
  display: flex;
  gap: 20px;
}
.detail-report {
  width: 900px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  color: #d00;
  cursor: pointer;
}
.detail-report span {
  display: flex;
}
.detail-report span:hover {
  transform: translateX(-1px) translateY(-1px);
}
.list-btn,
.prev-btn,
.next-btn {
  border: 1px solid #ccc;
  background: none;
  padding: 6px 14px;
  font-size: 14px;
  cursor: pointer;
}
.recommend-box {
  width: 20%;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #fafafa;
  align-items: flex-start;
  margin-top: 50px;
}

.recommend-title {
  font-weight: bold;
  margin-bottom: 10px;
}
.recommend-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.recommend-box li {
  font-size: 14px;
  margin: 4px 0;
}

/* 댓글 구역 */
.comment-section {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.comment-header {
  display: flex;
  justify-content: flex-start;
  width: max-content;
  gap: 740px;
  margin: 0px 0px 20px 20px;
}
.comment-header span:first-child {
  display: flex;
  align-items: flex-end;
}
.comment-order {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 5px 4px 5px;
  cursor: pointer;
  user-select: none;
  gap: 3px;
}
.comment-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px 12px;
  height: 100px;
}
.comment-input textarea {
  display: flex;
  align-items: center;
  flex: 1;
  border: none;
  font-size: 14px;
  padding-left: 10px;
  background-color: #f0f2f5; /* 바탕 배경색과 동일 */
  border-right: 1px solid #ccc;
  margin-right: 10px;
  padding-right: 10px;
  width: 100px;
  height: 80px;
  resize: none;
  scrollbar-width: none;
}
.comment-modify {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 5px;
  width: 840px;
  height: 70px;
  align-self: center;
}
.comment-modify textarea {
  display: flex;
  align-items: center;
  flex: 1;
  border: none;
  font-size: 14px;
  padding-left: 10px;
  background-color: #f0f2f5; /* 바탕 배경색과 동일 */
  margin-right: 10px;
  padding-right: 10px;
  width: 100px;
  height: 80px;
  resize: none;
  scrollbar-width: none;
}
.camera-icon {
  color: #777;
}
.comment-submit {
  background: #003366;
  color: white;
  border: none;
  padding: 6px 16px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.comment-modify-btn {
  background: #2f4e70;
  color: white;
  border: none;
  padding: 6px 16px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  border-radius: 3px;
}

/* 댓글 아이템 */
.comment-item {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  border-top: 1px solid #ccc;
  padding-bottom: 15px;
  gap: 10px;
}
.end {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.comment-item div:first-child {
  display: flex;
  align-self: flex-end;
}
.comment-report {
  text-align: right;
  color: #d00;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 700px;
  margin-right: 10px;
  margin-top: 10px;
}
.comment-writer {
  display: flex;
  align-self: flex-start;
  gap: 7px;
  font-size: 13px;
}
.comment-writer span {
  color: #003366;
}
.comment-text {
  margin: 10px 0;
  font-size: 15px;
  line-height: 1.5;
}

.comment-text {
  display: flex;
  margin-left: 25px;
}
.comment-sub {
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
}
.comment-sub .heart {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
}
.comment-sub .heart svg {
  font-size: 15px;
}
.comment-sub .hour {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
}
.comment-sub .hour svg {
  font-size: 15px;
}
.comment-button {
  text-align: right;
  margin-right: 10px;
}
.FbClaimConfirmBtn {
  width: 100%;
  background-color: transparent;
  border: none;
  font-weight: 900;
  cursor: pointer;
}

.report_content {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.report_content div:nth-of-type(1) {
  font-weight: 900;
  color: #003366;
}
.report_content div:nth-of-type(2) {
  color: #535353;
}
.report_content input {
  border: none;
  border-bottom: 1px solid #535353;
  width: 100%;
}

.board-content p {
  display: block;
  height: 100%;
  width: 100%;
}

.board-content img {
  width: auto;
  height: 100%;
}
.board-content p {
  color: transparent;
}
.board-list-title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 10px 0 0;
}
.board-table-wrap {
  width: 100%;
  margin-top: 16px;
}
.board-table {
  width: 100%;
  font-size: 15px;
  color: #2b2b2b;
  background: #fff;
}
.board-table thead th {
  background: #2f4e70;
  font-weight: 600;
  padding: 12px 10px;
  border-bottom: 2px solid #e5e7eb;
  text-align: center;
  color: white;
}
.board-table tbody td {
  padding: 12px 10px;
  border-bottom: 1px solid #eef0f3;
  height: 100px;
}
.board-row:hover {
  background: #fafaff;
  cursor: pointer;
}
.thumb-cell {
  text-align: center;
}
.thumbnail {
  width: auto;
  height: 80px;
  border-radius: 5px;
}
.thumbnail:hover {
  transform: scale(3);
  transition: 0.3s;
}
.states-cell {
  display: flex;
  align-items: center;
  gap: 14px;
  white-space: nowrap;
}
.state .icon {
  font-size: 16px;
  vertical-align: -2px;
  margin-right: 4px;
}

.detail-main .recommend-box .recommendsBtn {
  cursor: pointer;
  padding: 5px 0px;
}

.detail-main .recommend-box .recommendsBtn:hover {
  color: #2f4e70;
  font-weight: 900;
}

.recommend-box {
  overflow: auto;
}
