.admin {
  width: 1800px;
  margin: 0 auto;
}
.admin-head {
  padding: 30px;
}

.admin h1 {
  text-align: center;
  text-shadow: 1px 1px 3px #b0b0b1;
}

.admin-body {
  display: flex;

  gap: 24px;
}

.admin-right {
  width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.admin-content-wrap,
.admin-detail-content-wrap {
  min-height: 360px;
  border: 1px solid #e6e8ee;
  border-radius: 5px;
  background-color: #f7f9fc;
  width: 100%;
  padding: 50px;
}

.admin .content-head {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.admin .title {
  color: #1f3956;
  font-weight: 900;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.admin .title.m {
  font-size: 25px;
}

@keyframes spark {
  from {
    background-color: #e2eaf3;
  }
  to {
    background-color: transparent;
  }
}
