.admin {
  width: 1800px;
  margin: 0 auto;
}
.admin-head {
  padding: 30px;
}

.admin h1 {
  text-align: center;
}

.admin-body {
  display: flex;

  gap: 24px;
}

.admin-content-wrap {
  min-height: 360px;
  border: 1px solid #e6e8ee;
  border-radius: 5px;

  width: 1450px;
}

.admin .content-head {
  padding: 20px;
}
.admin .title {
  color: #1f3956;
  text-shadow: 1px 1px 1px #1f3956;
  padding: 10px;
}

.admin .title.m {
  font-size: 20px;
}
