.admin .content-body table {
  width: 100%;
  border-spacing: 0;
  text-align: center;
}
.admin .content-body thead {
  height: 40px;
  background-color: #2f4e70;
  color: #ffffff;
}
.admin .content-body th {
  font-weight: 100;
}

.admin tbody tr {
  height: 40px;
}

.admin .MuiTableSortLabel-root.Mui-active {
  color: #00e1ff;
}
.admin .MuiTableSortLabel-root.Mui-active .MuiTableSortLabel-icon {
  color: #00e1ff;
}
.admin .MuiTableSortLabel-root:hover {
  color: #00e1ff;
}

.admin .row:hover {
  background-color: rgba(186, 245, 255, 0.2);
}
