.admin .admin-content-wrap > .content {
  display: flex;
  width: 1400px;
}
.admin .admin-content-wrap > .content > .content_box {
  width: 50%;
  height: 800px;
  border: 1px dotted #ddc4c4;
  padding: 20px;
}
.admin .content_box_title {
  margin: 20px 0;
  font-weight: 700;
  color: #1f3956;
  font-size: 22px;
}
.admin .admin-content-wrap > .content > .content_box > .noticeBox {
  border-radius: 5px;
  justify-content: center;
}

.admin .ql-editor {
  height: 600px;
}

.admin .admin-content-wrap > .content > .content_box > .noticeBox > button {
  margin: 35px 20px;
  width: 100px;
}

.admin
  .admin-content-wrap
  > .content
  > .content_box
  > .noticeBox
  > button:hover {
  background-color: #476d97;
}
