@font-face {
  font-family: ns-l;
  src: url(/font/NotoSansKR-Light.ttf);
}
@font-face {
  font-family: ns-r;
  src: url(/font/NotoSansKR-Regular.ttf);
}
@font-face {
  font-family: ns-b;
  src: url(/font/NotoSansKR-Bold.ttf);
}
@font-face {
  font-family: ns-black;
  src: url(/font/NotoSansKR-Black.ttf);
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: ns-r;
  list-style-type: none;
  color: var(--main1);
}

*{
    margin: 0;
    padding: 0;
}

/* 로그인 페이지 */
/* 로그인 로고 */
.login-page-title{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.login-page-title>img{
    width: 140px;
}

/* 로그인 전체 div*/
.login{
    width: 800px;
    margin : 0 auto;
    
}
/* 로그인 라벨 및 인풋 감싸는 div*/
.login-wrap{
    width: 1200px;
    margin: 0 auto;
}
/* 로그인 제목 */
.login-input-wrap .login-input-title {
    width: 400px;
    margin: 0 auto;
}

/* 로그인 인풋 */
.login-input-wrap .login-input-item{
    width: 400px;
    margin: 15px auto;
}

.login-input-wrap .login-input-item>input{
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #333;
    padding-left : 20px;
    box-sizing: border-box;
}

/* 로그인 버튼 */
.member-button-zone{
    width: 400px;
    margin : 0 auto;
    text-align: center;
    
}
.member-button-zone>button{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #2F4E70;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border-radius: 20px;
    
}

/* 로그인 아이디/비밀번호 찾기 및 회원가입 */
.login-find{
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    
}


/* 회원가입 페이지 */
/* 회원가입 전체 페이지 감싸는 section*/
.join-wrap{
    width:1200px;
    margin: 0 auto;
    
}
.join-page-title{
    width: 800px;
    height: 50px;
    margin: 10px auto;
    text-align: center;
    font-family: ns-b;
    font-size: 30px;
    
}

.login{
    width: 600px;
}
.join-input-wrap{
    width: 600px;
    margin: 0 auto;    
}
.join-input-wrap .join-input-title{ 
    width: 350px;
    margin: 0 auto;
}
.join-input-wrap .join-input-item{
    width: 350px;
    margin: 12px auto;
}
.join-input-wrap .join-input-item >input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    padding-left: 5px;
}

.join-input-wrap .join-input-email {
    width: 350px;
    margin: 1px auto;
    box-sizing: border-box;
}
.join-input-wrap .join-input-email > input{
    width: 140px;
    border: none;
    border-bottom: 1px solid #ccc;
    
}
.join-input-wrap .join-input-email > select{
    width: 100px;
    margin-left: 5px;
}
.join-input-wrap .join-input-email > button{
    background-color: #2F4E70;
    color: #fff;
    width: 81px;    
    margin-left: 5px;
}
/* 성별버튼 */
.join-input-gender{
    width: 350px;
    margin: 0 auto;
    text-align: center;
    display: flex;
}
.join-input-radio:last-child{
    border-left: none;
}
.join-input-radio{
    width: 350px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    margin: 15px auto;

}
.join-input-radio>label{
    padding: 9px 80px;
    cursor: pointer;
}
input[type="radio"]:checked+label{
    background-color: #2F4E70;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}


.join-input-radio>input{
    display: none;
}


/* 로그인 버튼 */
.member-button-zone-join{
    width: 350px;
    margin : 0 auto;
    text-align: center;
    
}
.member-button-zone-join>button{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #2F4E70;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border-radius: 20px;
    
}

/* 약관동의 페이지 */
.agree-wrap{
    width: 1200px;
    margin: 0 auto;
}
.agree{
    width: 700px;
    height: 900px;
    margin: 10px auto;
    background-color: #FEFEF9;
    border: 1px solid black;
    padding-top: 20px;
}
.service-agree{
    width: 400px;
    height: 225px;
    margin: 30px auto;
    
}

.service-div{
    width: 100%;
    height: 200px;
    
    border: 1px solid black;
    overflow: auto;
}

.service-btn{
    padding: 5px 0;
}

/* 메인 페이지 */
.main-page{
    width: 1200px;
    margin: 0 auto;
}

.main-wrap {
    width: 1200px;
    margin: 0 auto;
}

.main-tab-board{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.main-board{
    width: 140px;
    height: 110px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #FEFEF9;
    text-align: center;
    padding-top: 30px;
    
}

.board-image>img{
    width:50px;
    height: 50px;
}

.board-title>span{
    font-family: ns-b;
    font-size: 20px;
}

.board-tab{
    width: 600px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    border: 1px solid black;
    border-bottom: none;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;    
}
.board-tab>div{
    width: calc(100%/3);
    text-align: center;
    border-left: 1px solid black;
}
.board-tab>div:first-child{
    border-left: none;
}
.board-tab>div{
    font-family: ns-b;
}
.board-list{
    padding : 20px;
    border: 1px solid black;
    border-top: none;
}




.board-list{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    border-top : none;
    box-sizing: border-box;
}

.main-board-list{
    margin-top :50px;
}

/* 마이페이지 */
.mypage-wrap{
    width: 1200px;
    margin: 0 auto;
}
.mypage-side{
    width: 900px;
    margin: 0 auto;
}
.account-box>div{
    margin: 30px 0;
    width: 180px;
    height: 40px;
    line-height: 40px;
    background-color: #2F4E70;
    color : #fff;
    text-align: center;
}
.side-menu{
    width: 180px;
    background-color: #2F4E70;
}
.side-menu>ul>li{
    color: #fff;
}
.side-main>ul>li{
    color: #fff;
    margin: 10px 0;
    text-align: center;
}


.side-main>ul>li>span{
    text-decoration: none;
    
}
.side-menu a {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.side-menu .active-link > span {
  color: #fff;
  font-family: ns-b;
}
.side-menu .active-link > svg {
  fill: #fff;
}


