*{
    margin: 0;
    padding: 0;
}

/* 로그인 페이지 */
.login-page-title{
    width: 800px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}
.login-wrap{
    width: 1200px;
    margin: 0 auto;

    background-color: antiquewhite;
}

.login{
    width: 800px;
    margin : 0 auto;
    
    
    
}
.login-input-wrap .login-input-title {
    width: 400px;
    margin: 0 auto;
}
.login-input-wrap .login-input-item{
    width: 400px;
    margin: 15px auto;
}

.login-input-wrap .login-input-item>input{
    width: 400px;
    height: 40px;
    border-radius: 20px;
    
    text-decoration: underline;
}

.login>.member-button-zone{
    width: 400px;
    margin : 0 auto;
    text-align: center;
}
.login>.member-button-zone>button{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: #2F4E70;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
}