
/* 로그인 페이지 */
/* 로그인 로고 */
.login-page-title{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.login-page-title>img{
    width: 140px;
}

/* 로그인 전체 div*/
.login{
    width: 800px;
    margin : 0 auto;
    
}
/* 로그인 라벨 및 인풋 감싸는 div*/
.login-wrap{
    min-height: calc(700px - 120px);
    width: 1200px;
    margin: 0 auto;
}
/* 로그인 제목 */
.login-input-wrap .login-input-title {
    width: 400px;
    margin: 0 auto;
    
}

/* 로그인 인풋 */
.login-input-wrap .login-input-item{
    width: 400px;
    margin: 15px auto;
}

.login-input-wrap .login-input-item>input{
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #333;
    padding-left : 20px;
    box-sizing: border-box;
}

/* 로그인 버튼 */
.member-button-zone{
    width: 400px;
    margin : 0 auto;
    text-align: center;
    
}
.member-button-zone>button{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #2F4E70;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border-radius: 20px;
    
}

/* 로그인 아이디/비밀번호 찾기 및 회원가입 */
.login-find{
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    
}


/* 회원가입 페이지 */
/* 회원가입 전체 페이지 감싸는 section*/
.join-wrap{
    width:600px;
    margin: 0 auto;
    background-color: #F5F8FB;
    border: 1px solid #999999;
    border-radius: 10px;
    padding-bottom: 20px;
}
.join-page-title{
    width: 600px;
    height: 50px;
    margin: 10px auto;
    text-align: center;
    font-family: ns-b;
    font-size: 30px;
    
}

.login{
    width: 600px;
}
.join-input-wrap{
    width: 600px;
    margin: 0 auto;    
}
.join-input-wrap .join-input-title{ 
    width: 350px;
    margin: 0 auto;
}
.join-input-wrap .join-input-item{
    width: 350px;
    margin: 12px auto;
}
.join-input-wrap .join-input-item >input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    padding-left: 5px;
}

.join-input-wrap .join-input-email {
    width: 350px;
    margin: 1px auto;
    box-sizing: border-box;
}
.join-input-wrap .join-input-email > input{
    width: 140px;
    border: none;
    border-bottom: 1px solid #ccc;
    
}
.join-input-wrap .join-input-email > select{
    width: 100px;
    margin-left: 5px;
}
.join-input-wrap .join-input-email > button{
    background-color: #3E5F86;
    color: #fff;
    color: #fff;
    width: 81px;    
    margin-left: 5px;
}
.join-input-wrap .join-input-code {
    width: 350px;
    margin: 10px auto;
}
.join-input-wrap .join-input-code>input{
    width: 255px;
    border:none;
    border-bottom: 1px solid #ccc;
    padding-left: 5px;
}
.join:last-child > .join-input-wrap > .join-input-title{
    margin-top: 10px;
}

.join-input-code > button{
    background-color: #3E5F86;
    color: #fff;
    color: #fff;
    width: 81px;    
    margin-left: 5px;
}
/* 성별버튼 */
.join-input-gender{
    width: 350px;
    margin: 0 auto;
    text-align: center;
    display: flex;
}
.join-input-radio:last-child{
    border-left: none;
}
.join-input-radio{
    width: 350px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    margin: 15px auto;

}
.join-input-radio>label{
    padding: 9px 80px;
    cursor: pointer;
}
input[type="radio"]:checked+label{
    background-color: #3E5F86;
    color: #fff;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}
.join-input-radio>input{
    display: none;
}

.input-msg{
    width: 350px;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
}


/* 로그인 버튼 */
.member-button-zone-join{
    width: 350px;
    margin : 0 auto;
    text-align: center;
    
}
.member-button-zone-join>button{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #3E5F86;
    color: #fff;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border-radius: 20px;
    
}

/* 약관동의 페이지 */
.agree-wrap{
    width: 1200px;
    margin: 0 auto;
}
.agree{
    width: 700px;
    height: 975px;
    margin: 10px auto;
    background-color: #F5F8FB;
    
    border: 1px solid #999999;
    border-radius: 8px ;
    padding-top: 20px;
}
.service-agree{
    width: 500px;
    height: 225px;
    margin: 30px auto;
    
}

.service-div{
    width: 500px;
    height: 200px;
    background-color: #fff;
    border-radius: 5px ;
    color: #666666;
    border: 1px solid #999999;
    box-sizing: border-box;
    overflow: auto;
}

.service-btn{
    padding: 5px 0;
}

/* 메인 페이지 */
.main-login{
    background-color: #fff;
}
.main-topic{
    background-color: #fff;

}

.main-page{
    width: 1200px;
    margin: 0 auto;
}

.main-wrap {
    width: 1200px;
    margin: 0 auto;
}

.main-tab-board{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}



.board-image>img{
    width:50px;
    height: 50px;
}

.board-title>span{
    font-family: ns-b;
    font-size: 20px;
}

.board-tab{
    width: 600px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    border: 1px solid black;
    border-bottom: none;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;    
}
.board-tab>div{
    width: calc(100%/3);
    text-align: center;
    border-left: 1px solid black;
}
.board-tab>div:first-child{
    border-left: none;
}

.first{
    background-color: #fff;
}
.board-tab>div{
    font-family: ns-b;
}
.board-list{
    padding : 20px;
    border: 1px solid black;
    border-top: none;
}

.board-list{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    border-top : none;
    box-sizing: border-box;
}

.main-board-list{
    margin-top :50px;
}

/* 마이페이지 */
/* 로그인 박스 */
.login-header{
    width: 300px;
    margin: 15px 10px;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    
}
.login-img>svg{
    font-size: 60px;
}
.logout-btn{
    padding-top: 10px;
    padding-left: 65px;
    text-align: right;
}
.logout-btn>button{
    width: 85px;
    height: 32px;
    display: flex;
    align-items: center;      
    gap: 6px; 
    border: 1px solid #ccc;
    border-radius: 6px;
    padding-left: 2px;
    background-color: #fff;
    cursor: pointer;
}
.login-info{
    width: 100px;
}

.login-info div span{
    font-size: 14px;
}
.login-btn>button{
    font-size: 22px;
}
.login-bottom{
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border-top: 1px solid #ccc;
    text-align: center;
}
.login-bottom div{
    width : calc(100%/4);
    border-right: 1px solid #ccc;
}
.login-bottom div:last-child{
    border: none;
}

.tab-div{
    background-color: #fff;
}


.mypage-tab{
    width: 600px;
    margin: 0 auto;
}
.tab-menu{
    border-radius: 8px;
    background-color: #F5F8FB;
}
.account-box>div{
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    background-color: #2F4E70;
    color: #fff;
    text-align: center;
    font-family: ns-b;
    font-size: 22px;
}
    

.mypage-wrap{
    width: 900px;
    margin: 0 auto;
    display: flex;
    
}


.side-menu-login{
    width: 200px;
    background-color: #2F4E70;
    color: #fff;
    
    
}


.side-menu-login a {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 11px;
    padding-right: 10px;
    text-decoration: none;
    
}

.side-menu-login .active-link > span {
    color: #2f4e70;
    font-family: ns-b;
    
}

.side-menu-login .active-link{
    width: 177px;
    color: #2f4e70;
    background-color: #fff;
    font-family: ns-b;
    border: 1px solid black;
    
}

.side-menu-login .active-link > svg {
    fill: #2f4e70;
    
}


.side-menu-login button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 15px;
    background: none;
    border: none;
    color: #fff;
    text-align: left;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.2s ease;
}

.side-menu-login button:hover span {
    color: #19d3f0;
}



/* member-info */
.mypage-info {
    width: 500px;
    margin: 0 auto;
    margin-bottom : 30px;
    border: 1px solid #ccc;
}
.mypage-title{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    
}
.mypage-title>h3{
    font-size: 25px;
    margin: 0;
    margin-top: 10px;
}

.info-content{
    width: 400px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around; 
}


.info-nickname{
    width: 250px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
    padding-top: 6px;
}
.nickname-input > input{
    width: 237px;
    height: 25px;
    font-size: 18px;
    padding-left: 10px;
    color: black;
    font-weight: 500;
    border: none;
    padding-bottom: 6px;
    
}

.mypage-nick-btn-box>button{
    width: 100px;
    height: 55px;
    background-color: #3E5F86;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}


.content-info{
    width: 200px;
    text-align: left;
    font-size: 12px;
    padding-left: 10px;
}

/* member-account */
.mypage-account-wrap{
    width: 500px;
    margin: 0 auto;
    min-height: 38vh; 
    margin-bottom: 20px;
    border: 1px solid #ccc;
    
}

.account-title{
    margin: 20px auto;

}

.account-name{
    border: 1px solid #ccc;
    padding : 6px 0;
}

.account-name>span{
    
    padding-left: 10px;
    font-size: 18px;
}

/* 비밀번호 변경 */
.changePw-wrap{
    width: 400px;
    margin: 0 auto;
    
}
.changePw-name{
    padding-top : 6px;
    padding-left: 10px;
    font-size: 13px;
}
.mypage-changePw-wrap{
    width: 300px;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
}

.mypage-changePw-wrap-update{
    width: 300px;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.changePw-wrap > form{
    width: 400px;
}

.mypage-changePw-item>input{
    width: 250px;
    height: 40px;
    margin: 10px 0;
    padding-left: 10px;
}

.mypage-changePw-btn-box{
    width: 200px;
    margin: 0 auto;
}

.mypage-changePw-btn-box>button{
    width: 100px;
    height: 45px;
    background-color: #3E5F86;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}


.mypage-account{
    width: 400px;
    margin: 0 auto;
}

.account-changePw{
    width: 400px;
    margin: 15px auto;
    border: 1px solid #ccc;
    
}

/* 이메일 변경 */
.mypage-changeEmail-wrap{
    border : 1px solid #ccc;
    margin-bottom : 30px;
    padding-top : 6px;
}

.changeEmail{
    width: 400px;
    text-align: center;
}
.changeEmail-name{
    margin-bottom: 10px;
}
.changeEmail-name>span{
    padding-left: 10px;
    font-size: 13px;
    
}

.changeEmail input{
    width: 200px;
    height: 40px;
    border-radius: 7px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.changeEmail select{
    width: 85px;
    height: 40px;
    border-radius: 7px;
}

.changeEmail button{
    height: 40px;
    background-color: #3E5F86;
    border-radius: 7px;
    color: #fff;
    width: 81px;    
    margin-left: 5px;
}
.changeEmail>button{
    width: 75px
}
.mypage-input-code button{
    width: 80px;
    margin-left: 10px;
}

.mypage-changeEmail-btn-box{
    text-align: center;
}

.mypage-input-code{
    width: 400px;
    text-align: left;
    margin-left: 10px;
}
.format-time{
    margin-left: 12px;
}
.mypage-input-code>input{
    width: 200px;
    height: 40px;
    line-height: 40px;
}
/* 커뮤니티 탭 */
.mypage-community-wrap{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
}
.community-title{
    width: 400px;
    margin: 20px auto;
    text-align: center;
}

.mypage-community{
    width: 500px;
    margin: 0 auto;    
    
    
}

.mypage-community div{
    width:400px;
    height: 40px;
    line-height: 40px;
    margin: 15px auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

.mypage-community div>button{
    width: 400px;
    height: 40px;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    text-align: left;
    padding-left: 15px;
    cursor: pointer;
}

/* 이용약관 탭 */
.agree-title{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.mypage-notice-wrap{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
}
.mypage-notice{
    width: 500px;
    margin: 0 auto;
    
    
}

.mypage-notice div{
    width:400px;
    height: 40px;
    line-height: 40px;
    margin: 15px auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

.mypage-notice div>button{
    width: 400px;
    height: 40px;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    text-align: left;
    padding-left: 15px;
    cursor: pointer;
}


/* 기타 탭*/
.etc-title{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.mypage-etc-wrap{
    width: 500px;
    margin: 0 auto;
    padding-bottom: 20px;
    border: 1px solid #ccc;
}

.mypage-etc{
    width: 500px;
    margin: 0 auto;
    
    
}

.mypage-etc div{
    width:400px;
    height: 40px;
    line-height: 40px;
    margin: 15px auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

.mypage-etc div>button{
    width: 400px;
    height: 40px;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    text-align: left;
    padding-left: 15px;
    cursor: pointer;
}

/* 회원가입 완료 시 넘어가는 페이지*/
.join-finish-wrap{
    width: 1200px;
    margin: 0 auto;
}
.join-finish{
    width: 600px;
    min-height: 30vh;
    margin: 0 auto;
    background-color: #F5F8FB;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;

}

.finish-content h1,h3{
    margin : 10px 0;
}
.finish-button>button{
    width: 230px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #3E5F86;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border-radius: 20px;
    
}
.service-agree-wrap{
    width: 1000px;
    margin: 0 auto;
    height: 2000px;
    
}

.service-agree-toJoin{
    width: 1000px;
    margin: 0 auto;
    
    
    
}

.mypage-rules{
    width: 1400px;
    margin: 30px auto;
    
}

.agree-content{
    width: 800px;
    border: 1px solid #ccc;
    overflow: auto;
}

/* 모달 적용*/
.member-modal-content{
    width: 400px;
}
.member-modal-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-modal-title>span{
    color: #fff;
    text-align: center;
    margin-right: 12px;
}

.title-explain>span{
    color: #fff;
    font-weight: 200;
    font-size: 11px;
    display: flex;
}

.modal-member-name{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.modal-member-title label{
    margin-right: 20px;
    font-size: 20px;
}

.modal-member-item input{
    width: 290px;
    height: 30px;
    padding-left: 10px;
}

.modal-button-box{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.modal-button-box>button{
    width: 100%;
    height: 40px;
}

/*
.member-button-zone{
    width: 400px;
    margin : 0 auto;
    text-align: center;
    
}
.member-button-zone>button{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #2F4E70;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border-radius: 20px;
    
}
*/