.note-mainbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.note-title {
  font-size: 0.8em;
}

.note-menubox {
  width: 20%;
  float: left;
  height: 100%;
  border-right: solid 1px rgb(218, 216, 216);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.note-menubox > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.note-menubox > ul > li {
  height: 90px;
}
.note-menubox > ul > li > button {
  border: none;
  border-radius: 5px;
  width: 90px;
  height: 30%;
  margin-top: 30px;
  color: #2f4e70;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: bold;
  background-color: transparent;
}
.note-menubox > ul > li > button:hover {
  font-size: 0.9em;
}
.note-contentbox {
  width: 80%;
}
.note-content-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: aliceblue;
}
.name-box {
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
}
.nameid {
  font-weight: bold;
  font-size: 0.8rem;
  width: 20%;
}
.nameinputbox {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.nameinput {
  width: 50%;
}
.note-content {
  width: 80%;
  height: 300px;
}
.note-textarea {
  width: 100%;
  height: 80%;
  resize: none;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.send-content-wrap {
  width: 100%;
  height: 90%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.send-delbutton-wrap {
  width: 80%;
  height: 15%;
}
.send-delbutton > button {
  border: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  background-color: #2f4e70;
  color: white;
  font-size: 0.7em;
  border-radius: 5px;
}
.send-delbutton > button:hover {
  font-weight: bold;
}
.send-content-box {
  width: 80%;
  height: 95%;
}
.send-tbl {
  width: 100%;
  background-color: aliceblue;
  border-radius: 10px;
}

.send-tbl tr > th {
  font-size: 11px;
}
.send-tbl tr > td {
  font-size: 11px;
  text-align: center;
}
