.side-menu {
  background-color: #fff;
  color: #2f4e70;
  width: 200px;
  height: 780px;
  padding: 10px;
  border-right: 0.1px solid #2f4e70;
}
.side-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #2f4e70;
}
.side-header p {
  margin-left: 5px;
}
.side-header span {
  margin: 0px 0px 10px 8px;
}
.header-title {
  font-weight: 600;
  margin: 20px 0px 0px 5px;
}
.category {
  margin: 30px 10px 0px 10px;
}
.menu-title {
  font-weight: bold;
  color: #2f4e70;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid #2f4e70;
  padding: 4px 8px;
  margin-top: 20px;
}
.menu-title > span {
  text-decoration: none;
}
.menu-down {
  margin-top: 10px;
  padding-left: 20px;
}
.menu-down a {
  text-decoration: none;
  gap: 40px;
}
.side-menuDown {
  margin: 15px 0px;
}
.side-submenu {
  color: #002e63;
  cursor: pointer;
  user-select: none;
}
.side-submenu li {
  padding-left: 5px;
}
.side-submenu:hover {
  background-color: #43688f;
  color: white;
  border-radius: 5px;
  margin: 5px 5px;
}
