/* 모달 바깥 배경 */
.survey-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 중요: 네비게이션보다 위에 표시 */
}

/* 모달 내용 상자 */
.survey-modal-content {
  background: #fff;
  border-radius: 10px;
  width: 700px;
  height: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 1001; /* 모달 내용도 위로 올리기 */
  position: relative;
}

.survey-box {
  width: 700px;
  height: 600px;

  text-align: center;
}
.survey-mainbox {
  width: 100%;
  height: 100%;
}
.survey-mainbox > h2 {
  width: 100%;
  height: 80px;
  background-color: rgb(218, 218, 218);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.survey-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px;
  box-sizing: border-box;
  max-height: 350px; /* 스크롤이 적용될 높이 */
  overflow-y: auto; /* 스크롤 활성화 */
  overflow-x: hidden;
}
.survey-title {
  width: 700px;
  height: 50px;
}
.survey-title > input {
  width: 600px;
  height: 50px;
  border: none;
  background-color: rgb(218, 218, 218);
  padding-left: 10px;
  font-size: 16px;
}
.survey-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option-input {
  width: 600px;
  height: 45px;
  background-color: rgb(218, 218, 218);
  border: none;
  padding-left: 30px;
  font-size: 15px;
}
.survey-addbutton {
  display: flex;
  width: 500px;
  height: 20px;
  padding-left: 35px;
  padding-top: 10px;
}
.survey-addbutton > button {
  width: 150px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
}
.survey-date {
  margin-top: 10px;
  font-size: 20px;
}
.date-time-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 5px;
}

.date-time-box > input {
  padding: 5px;
}

.check-btns {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  gap: 50px;
}
.check-btns > button {
  border: none;
  cursor: pointer;
  width: 100px;
}
