.vote-detail-wrap {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vote-detail-title {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vote-detail-list {
  width: 800px;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.vote-detail-list-title {
  width: 100%;
  height: 60px;
  background-color: #2f4e70;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vote-detail-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.vote-detail-content {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border-top: 1px solid #ddd;
  font-weight: bold;
}
.vote-radio {
  cursor: pointer;
}
.vote-label {
  cursor: pointer;
}
.vote-detail-button-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}
.vote-detail-check-button {
  width: 150px;
  height: 40px;

  background-color: #2f4e70;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.vote-detail-check-button:hover {
  background-color: #136bd6;
}
.vote-result-graph {
  width: 600px;
  height: 500px;
  margin: 10px;
}
.vote-detail-buttonBox {
  width: 800px;
  height: 30px;
  display: flex;
  gap: 50px;
  flex-direction: row-reverse;
  padding: 10px;
}
.vote-detail-buttonBox button {
  width: 80px;
  background-color: #2f4e70;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
