.vote-main-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1000px;
  align-items: center;
}
.vote-name-box {
  height: 100px;
}
.vote-write-box {
  width: 790px;
  display: flex;
  flex-direction: row-reverse;
  height: 30px;
  margin-bottom: 20px;
  gap: 30px;
}
.vote-write-box > button {
  border: none;
  background-color: #2f4e70;
  border-radius: 5px;
  width: 100px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.vote-write-box > input {
  display: none;
  cursor: pointer;
}

.vote-write-box label {
  cursor: pointer;
  border-radius: 5px;
  line-height: 1.6;
  border: 2px solid black;
  background-color: white;
}
.vote-tbl-box {
  width: 1600px;
  display: flex;
  justify-content: center;
}
.vote-tbl {
  width: 50%;
  border-radius: 10px;
  table-layout: fixed;
  text-align: center;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border-collapse: separate; /*collapse 값 초기화*/
  border-spacing: 0; /*셀 간격 없애기*/
  border-radius: 5px;
  overflow: hidden;
}

.vote-tbl thead th {
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2f4e70;
  color: white;
  text-align: center;
  white-space: nowrap;
  word-wrap: break-word;
}

.voteList-paging-wrap {
  width: 50%;
}

.vote-tbody > tr > td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(221, 208, 208);
}

.new-icon {
  color: red;
}
.td-title:hover {
  color: blue;
  border-radius: 5px;
  font-weight: bold;
}
.td-votedate {
  font-size: 0.9rem;
}
.td-voteEnddate {
  font-size: 0.9rem;
}
